@font-face {
	font-family: 'YOnepickTTF-Bold';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/YOnepickTTF-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul,
ol,
li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #ccc;
}

/* a:active{
	color: #f9d686;
}
a:visited{
	color: #f9d686;
} */

#wrap {
	width: 1600px;
	margin: 0 165px;
	height: 3300px;
}

.mainTopImg {
	margin-top: 50px;
	font-family: 'YOnepickTTF-Bold';
	font-weight: 700;
	width: 100%;
	height: 700px;
	border-radius: 20px;
	background-color: #579956;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-image: url(/images/mainback.png);
}

@keyframes reveal {
	0% {
		transform: translateY(-400%) rotate(0deg);
	}

	75% {
		transform: translateY(50%) rotate(270deg);
	}

	100% {
		transform: translateY(0%) rotate(360deg);
	}
}

.mainTopImg>img {
	animation: reveal 3s ease-in-out;
	transform-origin: 50% 50%;
	position: absolute;
	/* 추가 */
	margin-bottom: 180px;
	z-index: 2;

}

h1 {
	height: 100px;
	white-space: nowrap;
}

h1 span {
	position: relative;
	top: 20px;
	display: inline-block;
	animation: bounce .3s ease infinite alternate;
	animation-delay: 3s;
	font-family: 'YOnepickTTF-Bold', cursive;
	font-size: 80px;
	color: #FFF;
	text-shadow: 0 1px 0 #CCC,
		0 2px 0 #CCC,
		0 3px 0 #CCC,
		0 4px 0 #CCC,
		0 5px 0 #CCC,
		0 6px 0 transparent,
		0 7px 0 transparent,
		0 8px 0 transparent,
		0 9px 0 transparent,
		0 10px 10px rgba(0, 0, 0, .4);
	z-index: 1;
}

h1 span:nth-child(1) {
	animation-delay: 3s;
}

h1 span:nth-child(2) {
	animation-delay: 3.1s;
}

h1 span:nth-child(3) {
	animation-delay: 3.2s;
}

h1 span:nth-child(4) {
	animation-delay: 3.3s;
}

h1 span:nth-child(5) {
	animation-delay: 3.4s;
}

h1 span:nth-child(6) {
	animation-delay: 3.5s;
}

h1 span:nth-child(7) {
	animation-delay: 3.6s;
}

h1 span:nth-child(8) {
	animation-delay: 3.7s;
}

@keyframes bounce {
	100% {
		top: -20px;
		text-shadow: 0 1px 0 #CCC,
			0 2px 0 #CCC,
			0 3px 0 #CCC,
			0 4px 0 #CCC,
			0 5px 0 #CCC,
			0 6px 0 #CCC,
			0 7px 0 #CCC,
			0 8px 0 #CCC,
			0 9px 0 #CCC,
			0 50px 25px rgba(0, 0, 0, .2);
	}
}

.mainTitle {
	display: inline-block;
	animation: bendU 2s ease-in-out 3s forwards;
}

.main {
	border: 1px solid #000;
	width: 100%;
	height: 500px;
}

#wrap {
	width: 80%;
	margin: 0 165px 0 165px;
}

.main-pboard ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
}


.main-pboard {
	width: 100%;
}

.pboard-text {
	display: flex;
	justify-content: space-between;
}

.pboard-img {
	width: 300px;
	height: 300px;
	border: 1px solid black;
	margin: 10px 30px;
	display: flex;

}

p {
	font-family: 'TTLaundryGothicB';
}

.pboard-text a {
	font-family: 'TTLaundryGothicB';
	color: #ccc !important;
}

strong {
	font-family: 'TTLaundryGothicB';
}

.pboard-img img {
	object-fit: cover;
	max-width: 100%;
	max-height: 100%;
}

.pboard-list p {
	text-align: center;
}

/* mbaord 파트 */

@font-face {
	font-family: 'TTLaundryGothicB';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'HakgyoansimSantteutdotumL';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimSantteutdotumL.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

.mboard_wrap {
	font-family: 'TTLaundryGothicB';
	color: #FFF;
	background-color: #579956;
	padding: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
}

.mboard_title {
	font-size: 50px;
}

.mboard_info {
	margin-top: 50px;
}

.mboard_info p {
	font-family: 'HakgyoansimSantteutdotumL';
	font-weight: 600;
}

.mboard_info p:last-child {
	margin-top: 10px;
}

.go_mboard {
	margin-top: 30px;
}

.go_mboard a {
	color: #FFF !important;
	text-decoration: none;
	border: 1px solid #FFF;
	border-radius: 30px;
	padding: 10px;
}

.go_mboard a:hover {
	background-color: #f9d686;
	border: none;
	transition: .5s;
}

.mboard_img {
	display: flex;
	align-items: center;
}

.mboard_img img:first-child {
	width: auto;
	height: 150px;
	margin-right: 50px;
}

.mboard_img img:last-child {
	width: auto;
	height: 100px;
	margin-left: 50px;
}

.mboard_img p {
	font-size: 40px;
}

.mboard_list {
	margin-top: 50px;
}

.lists {
	display: flex;
	border-bottom: 1px solid #FFF;
}

.lists:hover {
	background-color: #f9d686;
	border-bottom: none;
	transition: .8s;
}

.lists a {
	color: #FFF !important;
	padding: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.lists a:nth-child(1) {
	width: 300px;
}

.lists a:nth-child(2) {
	width: 150px;
}

.lists a:nth-child(3) {
	width: 200px;
}


.map {
	position: relative;
	font-family: 'TTLaundryGothicB';
}

.map>h3 {
	position: absolute;
	right: 10;
	/* margin-right: 20px; */
}

.map>a {
	width: 50%;
	display: inline-block;
	position: absolute;
	border-radius: 30px;
	margin: 30px 0px 0px 20px;

}

#mapimg>a>img {
	width: 100%;
	height: 500px;
	padding-right: 150px;
	padding-top: 20px;
}

.map>div {
	width: 100%;
	height: 500px;
}

.map #mapimg {
	float: left;
	position: relative;
	clip-path: polygon(0 0, 30% 0, 70% 100%, 0% 100%);

}

.map #inmap {
	text-align: right;
	position: absolute;
	float: right;
	clip-path: polygon(30% 0, 100% 0%, 100% 100%, 70% 100%);
	padding-top: 20px;
	padding-right: 30px;
}

#inmap>h3 {
	font-size: 30px;
	margin-bottom: 50px;
}

#inmap>span {
	margin: 30px;
	line-height: 2;
}

#inmap>a {
	margin: 30px 30px;
	width: 180px;
	display: inline-block;
	text-align: center;
}

#inmap>a>img {
	width: 50px;
	position: absolute;
	margin-left: -40px;
	margin-top: -10px;
}

/* -------메인 질병 파트--------- */
.disease {
	display: flex;
	padding-top: 50px;
}

.disease-left p {
	font-family: 'HakgyoansimSantteutdotumL';
	font-weight: 600;
	color: #579956;
}

.disease-title p {
	font-size: 50px;
	color: #579956;
}

.disease-a button {
	border: 1px solid #f9d686;
	background-color: white;
	color: white !important;
	width: 80px;
	height: 50px;
	border-radius: 10px;
}

.disease-a button a {
	color: black;
}

.disease button:hover {
	background-color: #f9d686;

}

.disease-a button a:hover {
	color: white;
}

.disease-main-left {
	width: 50%;
	text-align: center;
	line-height: 30px;
}

.disease-main-left div {
	margin: 50px;
}

.disease-main-right {
	width: 50%;
	justify-content: center;
}

.disease-main-right img {
	width: 500px;
	height: 400px;
}