/* 메인 폰트 */
@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
/* 서브 폰트 */
@font-face {
    font-family: 'HakgyoansimSantteutdotumL';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimSantteutdotumL.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
/* 서브서브 폰트 */
@font-face {
    font-family: 'MinSans-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#MF{
    font-family: 'TTLaundryGothicB';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'HakgyoansimSantteutdotumL';
    font-weight: 600;
    font-size: 17px;
}

ul,
li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}
.profile_img_box img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

header {
    height: 100px;
}

.full_wrap{
    width: 1800px;
}

/* 게시판 제목부분~메인보드 전 */
.top_container {
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
}

.page_title {
    display: flex;
    justify-content: center;
    /* border: 1px solid saddlebrown; */
    padding: 10px;
}

.page_title p{
    font-size: 60px;
}

/* inner 시작 */
.inner_wrap {
    margin: 0px 165px 0px 165px;
    padding: 47px;
}

.list_area_wrap{
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}

.list_area_1{
	width: 800px;
	padding: 20px;
	border: 2px solid #A7D9C1;
	border-radius: 5px;
}

.list_area_2{
	width: 580px;
	padding: 15px;
	margin-left: 10px;
}

.list_area_2_box{
	text-align: center;
}

.list_title{
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    font-size: 30px;
    display: inline-block;
}

.list_info_1{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile{
    display: flex;
    align-items: center;
}

.profile .profile_img_box{
    margin-right: 15px;
}

.list_info_2{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list_info_3{
    margin-top: 20px;
    text-align: left;
    font-family: 'MinSans-Regular';
    font-weight: 400;
}

.list_info_4{
    margin-top: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
}

.m_list_members{
    margin: 0 10px 0 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.list_info_4 .m_list_members:nth-child(n+5) {
    margin-top: 20px; /* 두 번째 줄 시작 */
}

.m_list_members img{
    width: 20px;
    margin-right: 10px;
}

.m_join_btn{
    display: flex;
    justify-content: center;
}

#m_join{
    width: 100px;
    height: 40px;
    background-color: #C4D0F2;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
    line-height: 33px;
    cursor: pointer;
	margin: 20px;
}

#m_join:hover{
    box-shadow: 0 4px 0 rgba(51, 51, 51, 0.2);
    transform: scale(1.13);
}

/* 댓글 박스 */
.replybox{
    margin-top: 40px;
}

.reply_count{
    text-align: left;
}

.reply_write_box{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.reply_write_box textarea{
    width: 85%;
    height: 50px;
	padding: 5px;
}

.go_reply {
    width: 15%;
    margin-left: 20px;
    height: 50px;
    line-height: 50px;
    background-color: #f2f2f2;
    border-radius: 5px;
	display: flex;
	justify-content: center;
	cursor: pointer;
}

.reply_list{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reply_info{
    display: flex;
    text-align: left;
    align-items: center;
}

.reply_text{
    margin-left: 20px;
}

.reply_username{
    font-size: 18px;
}

.reply_con{
    margin-top: 10px;
    font-size: 17px;
    font-family: 'MinSans-Regular';
    font-weight: 400;
}

.reply_btn{
	display: flex;
}

.modify_reply {
	font-size: 14px;
	font-family: 'MinSans-Regular';
	font-weight: 400;
	align-self: baseline;
	cursor: pointer;
	padding: 3px;
	border: 2px solid #f2f2f2;
	border-radius: 5px;
}

.delete_reply{
	margin-left: 5px;
    font-size: 14px;
    font-family: 'MinSans-Regular';
    font-weight: 400;
    align-self: baseline;
    cursor: pointer;
    padding: 3px;
    border: 2px solid #f2f2f2;
    border-radius: 5px;
}

.go_modify_reply {
	font-size: 14px;
	font-family: 'MinSans-Regular';
	font-weight: 400;
	align-self: baseline;
	cursor: pointer;
	padding: 3px;
	border: 2px solid #f2f2f2;
	border-radius: 5px;
}

.stop_modify_reply {
	margin-left: 5px;
	font-size: 14px;
	font-family: 'MinSans-Regular';
	font-weight: 400;
	align-self: baseline;
	cursor: pointer;
	padding: 3px;
	border: 2px solid #f2f2f2;
	border-radius: 5px;
}

.no_reply_list{
	margin-top: 10px;
	text-align: start !important;
}

.form_btn_area{
    margin-top: 70px;
}

.form_btn_area {
    display: flex;
    justify-content: flex-end;
}

.form_btn_area a{
    background-color: #A7D9C1;
    padding: 20px;
    border-radius: 5px;
    margin-left: 10px;
}