/* 메인 폰트 */
@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
/* 서브 폰트 */
@font-face {
    font-family: 'HakgyoansimSantteutdotumL';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimSantteutdotumL.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
/* 서브서브 폰트 */
@font-face {
    font-family: 'MinSans-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#MF{
    font-family: 'TTLaundryGothicB';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'HakgyoansimSantteutdotumL';
    font-weight: 600;
    font-size: 17px;
}

ul,
li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.profile_img_box img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.full_wrap{
   /* width: 1800px;*/
}

.inner_wrap {
    margin: 0px 165px 0px 165px;
    padding: 47px;
}

/* 게시판 제목부분~메인보드 전 */
.top_container {
    width: 100%;
    height: 100%;
}

.page_title {
    display: flex;
    justify-content: center;
   align-items: center;
    padding: 10px;
}

.page_title p{
      color: #54965a;
    font-size: 60px;
}

.page_title img{
   width: 100px;
}

/* inner 시작 */
.inner_wrap {
    margin: 0px 165px 0px 165px;
    padding: 47px;
}

.list_area_wrap{
   margin-top: 50px;
   display: flex;
   justify-content: space-around;
}

.list_area_1{
   width: 800px;
   padding: 20px;
   border: 1px solid #e5e7eb;
}

.list_area_2{
   width: 580px;
   padding: 15px;
   margin-left: 10px;
}

.list_area_2_box{
   text-align: center;
}

.list_title{
    padding: 10px;
    font-size: 30px;
    display: inline-block;
}

.list_info_1{
   margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-top: 5px solid rgba(54,54,54,0.05);
}

.profile{
    display: flex;
    align-items: center;
}

.profile .profile_img_box{
    margin-right: 15px;
}

.list_info_2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
   background-color: rgba(54,54,54,0.05);
}

.list_info_3{
    margin-top: 20px;
    text-align: left;
    font-family: 'MinSans-Regular';
    font-weight: 400;
}

.list_info_4{
    margin-top: 20px;
    background-color: rgba(54,54,54,0.05);
    display: flex;
   justify-content: center;
    flex-direction: row;
    flex-wrap: wrap; /* 요소가 부모의 너비를 초과할 때 줄 바꿈 */
    padding: 15px;
}

.m_list_members{
    margin: 10px; /* 요소 간 간격 설정 */
    display: flex;
   justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
    flex: 0 0 calc(20% - 20px); /* 각 요소가 20%의 너비를 차지하고 여백을 포함 */
}


.m_list_members img{
    width: 20px;
    margin-right: 10px;
}

.m_join_btn{
    display: flex;
    justify-content: center;
}

#m_join{
    width: 100px;
    height: 40px;
    background-color: #599d51;
    color: #FFFFFF;
    border-radius: 30px;
    padding: 3px;
    text-align: center;
    line-height: 33px;
    cursor: pointer;
   margin: 20px;
}

#m_join:hover{
    box-shadow: 0 4px 0 rgba(51, 51, 51, 0.2);
    transform: scale(1.13);
}

/* 댓글 박스 */
.replybox{
    margin-top: 40px;
}

.reply_count{
    text-align: left;
}

.reply_write_box{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.reply_write_box textarea{
    width: 85%;
    height: 50px;
   padding: 5px;
    border: 1px solid #e5e7eb;
}

.reply_write_box textarea:focus{
    border: 1px solid #4f4f4f;
    outline: none;
}

.go_reply {
    width: 15%;
    margin-left: 20px;
    height: 50px;
    line-height: 50px;
    background-color: rgba(54,54,54,0.05);
   display: flex;
   justify-content: center;
   cursor: pointer;
    border-radius: 5px;
}

.reply_list{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reply_info{
    display: flex;
    text-align: left;
    align-items: center;
}

.reply_text{
    margin-left: 20px;
}

.reply_username{
    font-size: 18px;
}

.reply_con{
    margin-top: 10px;
    font-size: 17px;
    font-family: 'MinSans-Regular';
    font-weight: 400;
   width: 330px;
}

#modify_replycontent{
   width: 100%;
   height: 50px;
   padding: 5px;
   border: 1px solid #e5e7eb;
}      
      
#modify_replycontent:focus {
   border: 1px solid #4f4f4f;
   outline: none;
}

.reply_btn{
   display: flex;
}

.modify_reply {
   font-size: 14px;
   font-family: 'MinSans-Regular';
   font-weight: 400;
   align-self: baseline;
   cursor: pointer;
   padding: 3px;
   border: 1px solid #e5e7eb;
   border-radius: 5px;
}

.delete_reply{
   margin-left: 8px;
    font-size: 14px;
    font-family: 'MinSans-Regular';
    font-weight: 400;
    align-self: baseline;
    cursor: pointer;
    padding: 3px;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
}

.go_modify_reply {
   font-size: 14px;
   font-family: 'MinSans-Regular';
   font-weight: 400;
   align-self: baseline;
   cursor: pointer;
   padding: 3px;
   border: 1px solid #e5e7eb;
   border-radius: 5px;
}

.stop_modify_reply {
   margin-left: 8px;
   font-size: 14px;
   font-family: 'MinSans-Regular';
   font-weight: 400;
   align-self: baseline;
   cursor: pointer;
   padding: 3px;
   border: 1px solid #e5e7eb;
   border-radius: 5px;
}

.no_reply_list{
   margin-top: 10px;
   text-align: start !important;
}

.form_btn_area{
    margin-top: 70px;
}

.form_btn_area {
    display: flex;
    justify-content: flex-end;
}

.form_btn_area a{
    background-color: rgba(54,54,54,0.05);
    padding: 20px;
    border-radius: 5px;
    margin-left: 10px;
}