/*메인 글꼴*/
@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/*서브 글꼴*/
@font-face {
    font-family: 'NanumBarunpen';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*서브서브 글꼴*/
@font-face {
    font-family: 'HakgyoansimSantteutdotumL';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimSantteutdotumL.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	
	/*메인 글꼴*/
	font-family: 'TTLaundryGothicB';
}

header {
	width: 100%;
    height: 100px;
    background-color: #FF9B9B;
	background: url(/images/KakaoTalk_20240925_093131856.png) no-repeat center,
	rgba(255, 155, 155, 1.0);
	background-size: 400px;	
	min-width: 1425px;
}
footer {
    height: 100px;
    background-color: #FF9B9B;
	clear: both;
}
#wrap{
    width: 1400px;
	height: 1300px;
    margin: 0 auto;
	position: relative;
	user-select: none;
}
h1{
    text-align: center;
    margin-top: 15px;
}
table {
    border-collapse: separate; /* 간격 적용을 위해 border-collapse를 separate로 설정 */
    border-spacing: 0px 30px; /* 세로 간격을 설정 */
    width: 100%; /* 테이블의 너비를 100%로 설정 */
	user-select: none;
}
.info{
	height: 540px;
    background-color: #FDEFEF;
}
.info td{
    width: 500px;
	position: relative;
}
.strayImg{
	width: 480px;
	height: 480px;
	pointer-events: none;
	margin-left: 40px;
	border-radius: 25px;
	z-index: 2;
	position: relative; /* img 요소는 기본 위치 */
}

.overlay {
    position: absolute; /* 절대 위치 지정 */
	top: 28px;
	left: 39px;
    width: 480px; /* 이미지의 너비와 높이 맞춤 */
    height: 480px;
    background-color: #F9F9F9; /* 원하는 배경색과 투명도 설정 */
    z-index: 1; /* img보다 낮은 z-index */
	border-radius: 25px;
	line-height: 460px;
}

a{
    text-decoration: none;
    color: black;
}
td span{
	/*서브 글꼴*/
	font-family: 'NanumBarunpen';	
	font-weight: 600;

    display: flex;
    justify-content: center;
    font-size: 32px;
    padding: 10px;
}


.btn a span{
    justify-content: flex-end;
    font-size: 18px;
}
.pagination {
    display: flex;
	justify-content: center;
    list-style-type: none;
    padding: 0;
	font-size: 30px;
}
.pagination li {
	/*서브 글꼴*/
	font-family: 'NanumBarunpen';

    margin: 0 10px;
    cursor: pointer;
    background-color: #F7FFE5;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 58px;
    border-radius: 15px;
    border: 2px solid #C2E8CE;
	user-select: none;
	transition: transform 0.2s;
}
.pagination li:hover {
	transform: scale(1.2);
}

.pagination .first, .pagination .last{
	letter-spacing: -10px;
	padding-right: 10px;
}
.pagination .first, .pagination .last,
.pagination .next, .pagination .prev{
	line-height: 62px;
}
.active {
    font-weight: bold;
    text-decoration: underline;
	text-underline-offset: 5px;
}

.info_box{
	width: 780px;
	margin: 0 auto;
}

.strayInfo1{
	display: flex;
	flex-wrap: wrap;
    border: 1px solid black;
	width: 100%;
	border-radius: 30px;
}
.strayInfo1 div{
	/*서브 글꼴*/
	font-family: 'NanumBarunpen';

	display: flex;
	height: 90px;
    text-align: center;
    font-size: 24px;
    padding: 10px;
    border-bottom: 1px solid black;
	justify-content: center; /* 수평 중앙 정렬 */
	align-items: center;    /* 수직 중앙 정렬 */
	
	border-right: 1px solid black;
}
.strayInfo1 div:nth-child(odd){
    width: 17%;
}
.strayInfo1 div:nth-child(even){
    width: 33%;
}
.strayInfo1 div:nth-child(4n){
	border-right: none;
}
.strayInfo1 div:nth-child(13), 
.strayInfo1 div:nth-child(14), 
.strayInfo1 div:nth-child(15){
    border: none;
	border-right: 1px solid black;
}
.strayInfo1 div:nth-child(16){
	font-size: 18px;
    border: none;
}

#result .info td:nth-child(1){
	width: 40%;
	margin-right: 10px;
	position: relative;
}

#result .info td:nth-child(2){
	width: 60%;
	margin-right: 0px;
	padding-bottom: 30px;
}



#select {
	position: absolute;
	top: -14px;
	right: 0px;
	user-select: none;
    display: flex;
    align-items: center;
    gap: 15px; /* 요소 간 간격 */
    margin: 20px; /* 외부 여백 */
	display: none;
}

select {
    padding: 10px;
	width: 65px;
    font-size: 16px;
    border: 2px solid #C2E8CE; /* 테두리 색상 */
    border-radius: 10px; /* 모서리 둥글게 */
    appearance: none; /* 기본 드롭다운 화살표 제거 */
    background-color: #ffffff; /* 배경색 */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="%23007bff" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.5 5.5a.5.5 0 0 1 .8-.4L8 9.5l5.7-4.4a.5.5 0 1 1 .6.8l-6 4.5a.5.5 0 0 1-.6 0l-6-4.5a.5.5 0 0 1-.1-.6z"/></svg>'); /* 드롭다운 화살표 */
    background-repeat: no-repeat;
    background-position: right 3px center; /* 화살표 위치 */
    background-size: 16px; /* 화살표 크기 */
    cursor: pointer; /* 마우스 포인터 변경 */
	transition: transform 0.2s;
}

select:hover {
	transform: scale(1.2);
}

#select select:nth-child(2){
	width: 105px;
}

#search-btn {
    padding: 10px 15px;
    font-size: 16px;
    color: #000000; /* 글자 색상 */
    background-color: #F7FFE5; /* 배경색 */
    border: 2px solid #C2E8CE; /* 테두리 제거 */
    border-radius: 10px; /* 모서리 둥글게 */
    text-decoration: none; /* 밑줄 제거 */
    cursor: pointer; /* 마우스 포인터 변경 */
    transition: background-color 0.3s; /* 배경색 변화 애니메이션 */
	transition: transform 0.2s;
}

#search-btn:hover {
    background-color: #C2E8CE; /* 마우스 오버 시 배경색 변경 */
	transform: scale(1.2);
}

#region, #breed, #region option, #breed option, #search-btn{
	/*서브서브 글꼴*/
	font-family: 'HakgyoansimSantteutdotumL';
	font-weight: bold;
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1238px;
    background-color: #f9f9f9;
    margin-top: 20px;
}

.loader {
    display: flex;
    flex-direction: column; /* 세로 방향으로 정렬 */
    align-items: center; /* 중앙 정렬 */
}

.dots {
    display: flex; /* 점들을 가로로 정렬 */
    justify-content: center; /* 중앙 정렬 */
}

.dot {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: #007bff;
    border-radius: 50%;
    animation: loading 1s infinite ease-in-out;
}

.dot:nth-child(1) {
    animation-delay: 0s;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes loading {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

.comment {
    margin-top: 15px; /* 점들과의 간격 조정 */
    font-size: 24px; /* 글자 크기 조정 */
	font-weight: bold;
    color: #333; /* 글자 색상 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

#notting {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1238px;
    background-color: #f9f9f9;
    margin: 0;
	display: none;
	margin-top: 20px;
}

#notting div{
	font-size: 24px; /* 글자 크기 조정 */
	font-weight: bold;
	color: #333; /* 글자 색상 */
	text-align: center; /* 텍스트 중앙 정렬 */
	align-items: center; /* 중앙 정렬 */
}


/*모달 팝업 영역 스타일링*/
.modal {
/*팝업 배경*/
	display: none; /*평소에는 보이지 않도록*/
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 540px;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
}
.modal .modal_popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 30px 15px 30px;
    background: #ffffff;
    border-radius: 20px;
    width: 780px;
}


#result .info td .modal .modal_popup .info_box{
	width: 720px;
}
#result .info td .modal .modal_popup .info_box .strayInfo1{
	background-color: rgba(155, 155, 155, 0.5);
		
}
#result .info td .modal .modal_popup .info_box .strayInfo1 
div:nth-child(odd) {
    width: 12%;
}
#result .info td .modal .modal_popup .info_box .strayInfo1 
div:nth-child(even) {
    width: 38%;
}

#result .info td .modal .modal_popup .info_box .strayInfo1 div {
    font-size: 20px;
}


.modal .modal_popup .close_btn {
    display: block;
    padding: 10px 20px;
    background-color: rgb(116, 0, 0);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: box-shadow 0.2s;
	margin-top: 10px;
	position: relative;
	left: 655px;
}

.modal_btn {
	display: block;
	padding: 10px 20px;
	background-color: royalblue;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	transition: box-shadow 0.2s;
	position: absolute;
	bottom: 25px;
	right: 30px;
}
.modal_btn:hover{
    box-shadow: 3px 4px 11px 0px #00000040;
}





















