<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>내가 쓴 글</title>
	<link href="/css/KHE/style.css" rel="stylesheet">
</head>

<body class="list">
	<th:block th:replace="~{layout/KHE/header::header}"></th:block>
	<th:block th:if="${session.loginUser == null}">
		<script>
			alert("해당 페이지는 로그인 후에만 이용 가능합니다!")
			const path = window.location.pathname;
			window.location.href = "/?path=" + path;
		</script>
	</th:block>
	<div id="wrap" class="list">
		<!-- 게시글 리스트 띄워주는 테이블 -->
		<div id="contentstitle1">등록한 글</div>
		<div id="mycontents1" class="mycontents">
			<span style="font-size: 24px;">모임게시판</span>
			<span><a id="more1" class="more">더 보기..</a></span>
			<span><a id="back1" class="more" style="display: none;">돌아가기</a></span>
			<div class="tar">작성글 개수 : [[${mtotal}]]</div>
			<div class="w1" style="display: none;">[[${mtotal}]]</div>
			<div class="list table">
				<div class="thead tac">
					<div class="row rowt">
						<div>번호</div>
						<div>제목</div>
						<div>작성자</div>
						<div>날짜</div>
					</div>
				</div>
				<div class="tbody1">
				</div>
			</div>
			<table>
				<tbody>
					<tr>
						<td id="pageM">

						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="mycontents2" class="mycontents">
			<span style="font-size: 24px;">SNS</span>
			<span><a id="more2" class="more">더 보기..</a></span>
			<span><a id="back2" class="more" style="display: none;">돌아가기</a></span>
			<div class="tar w2">작성글 개수 : [[${ptotal}]]</div>
			<div class="w2" style="display: none;">[[${mtotal}]]</div>
			<div class="plist">
				<div class="tbody2">
				</div>
			</div>
			<table>
				<tbody>
					<tr>
						<td id="pageP">

						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<th:block th:replace="~{layout/footer::footer}"></th:block>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="/js/KHE/my.js"></script>
<script th:inline="javascript">
	const more1 = $("#more1");
	const more2 = $("#more2");
	let nowpageM = 1;
	let nowpageP = 1;

	window.onload = function () {
		showListM();
		showListP();
		if($(".w1").html() < 6){
			more1.hide();
		}
		if($(".w2").html() < 6){
			more2.hide();
		}
	};

	more1.click(function (e) {
		moreListM();
	})
	more2.click(function (e) {
		moreListP();
	})
	$("#back1").click(function (e) {
		showListM();
	})
	$("#back2").click(function (e) {

		showListP();
	})
	function showListM() {
		$("#back1").hide();
		more1.show();
		$("#mycontents2").show();
		myServiceM.selectprv(
			function (list) {
				let str = "";
				if (list.length == 0) {
					str += `<div class="row no-list"><div></div><div>등록된 게시글이 없습니다.</div></div>`
					$("#more1").hide();
				}
				else {
					for (let i = 0; i < list.length; i++) {
						const board = list[i];
						str += `<div class="row rows"><div>${board.boardnum}</div>
									<div><a class="get" href="/mboard/m_get?mboardnum=${board.boardnum}">${board.boardtitle}</a></div>
									<div><a class="usermenu">${board.userid}</a></div>
									<div>${board.boarddatetime}</div></div>`;
					}
				}
				$(".tbody1").html(str);
				$("#pageM").html("");
			})
	}
	function showListP() {
		$("#back2").hide();
		more2.show();
		$("#mycontents1").show();
		myServiceP.selectprv(
			function (list) {
				let str = "";
				if (list.length == 0) {
					str += `<div class="row no-list"><div></div><div>등록된 게시글이 없습니다.</div></div>`
					$("#more2").hide();
				}
				else {
					for (let i = 0; i < list.length; i++) {
						const board = list[i];
						str += `<div class="prow">
									<div><a class="c_thumbnail2" href="/pboard/list?boardnum=${board.boardnum}">
										<img class="c_thumbnail" src="/images/pimages/${board.systemname}"></a></div></div>`;
					}
				}
				$(".tbody2").html(str);
				$("#pageP").html("");
			})
	}

	function moreListM() {
		$("#mycontents2").hide();
		more1.hide();
		$("#back1").show();
		myServiceM.selectAll(nowpageM,
			function (cList, pageMaker) {
				let str = "";
				for (let i = 0; i < cList.length; i++) {
					const board = cList[i];
					str += `<div class="row rows"><div>${board.boardnum}</div>
			<div><a class="get" href="/mboard/m_get?mboardnum=${board.boardnum}">${board.boardtitle}</a></div>
			<div id="profileid">${board.userid}</div>
			<div>${board.boarddatetime}</div></div>`;
				}
				$(".tbody1").html(str);
				showPage(pageMaker);
			}
		)
	}
	function moreListP() {
		$("#mycontents1").hide();
		more2.hide();
		$("#back2").show();
		myServiceP.selectAll(nowpageP,
			function (cList, pageMaker) {
				let str = "";
				let flag = -1;
				for (let i = 0; i < cList.length; i++) {
					const board = cList[i];
					
					str += `<div class="prow"><div><a class="c_thumbnail2" href="/pboard/list?boardnum=${board.boardnum}">
							<img class="c_thumbnail" src="/images/pimages/${board.systemname}"></a></div></div>`;
					flag = board.boardnum;
				}
				$(".tbody2").html(str);
				showPage2(pageMaker);
			}
		)
	}
	function showPage(pageMaker) {
		let str = "";
		if (pageMaker.prev) {
			str += `<span><a class="changePage btn" href="${pageMaker.startPage - 1}">&lt;</a></span>`
		}
		for (let i = pageMaker.startPage; i <= pageMaker.endPage; i++) {
			if (i == nowpageM) {
				str += `<span class="nowPage">${i}</span>`
			}
			else {
				str += `<span><a class="changePage btn" href="${i}">${i}</a></span>`
			}
		}
		if (pageMaker.next) {
			str += `<span><a class="changePage btn" href="${pageMaker.endPage + 1}">&gt;</a></span>`
		}
		$("#pageM").html(str);

		$(".changePage").click(function (e) {
			e.preventDefault();
			nowpageM = e.target.getAttribute("href");
			moreListM();
		})
	}
	function showPage2(pageMaker) {
		let str = "";
		if (pageMaker.prev) {
			str += `<span><a class="changePage btn" href="${pageMaker.startPage - 1}">&lt;</a></span>`
		}
		for (let i = pageMaker.startPage; i <= pageMaker.endPage; i++) {
			if (i == nowpageP) {
				str += `<span class="nowPage">${i}</span>`
			}
			else {
				str += `<span><a class="changePage btn" href="${i}">${i}</a></span>`
			}
		}
		if (pageMaker.next) {
			str += `<span><a class="changePage btn" href="${pageMaker.endPage + 1}">&gt;</a></span>`
		}
		$("#pageP").html(str);

		$(".changePage").click(function (e) {
			e.preventDefault();
			nowpageP = e.target.getAttribute("href");
			console.log(nowpageP);
			moreListP();
		})
	}

</script>

</html>