<html>

<head>
	<meta charset="UTF-8">
	<title>쪽지함</title>
	<link href="/css/KHE/style.css" rel="stylesheet">
</head>

<body>
	<div class="notewrap">
		<table>
			<div class="list table">
				<div class="thead tac">
					<div class="row rowt">
						<div></div>
						<div>제목</div>
						<div>보낸사람</div>
						<div>날짜</div>
					</div>
				</div>
				<div class="tbody">
				</div>
			</div>
		</table>
		<table>
			<tbody>
				<tr>
					<td id="page">

					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="/js/KHE/my.js"></script>
<script th:inline="javascript">
	let nowpage = 1;
	window.onload = function () {
		showNote();
	};
	function showNote() {
		myServiceN.select(nowpage,
			function (nList, pageMaker) {
				let str = "";
				if (nList.length == 0) {
					str += `<div class="row no-list"><div></div><div>쪽지가 없습니다.</div></div>`
				}
				else {
					for (let i = 0; i < nList.length; i++) {
						const note = nList[i];
						if (note.readcnt == 0) {
							str += `<div class="row rows"><div class="newcheck"">new!</div>
					<div><a class="get" href="/my/getNote?noteNum=${note.noteNum}&page=${nowpage}">${note.title}</a></div>
					<div id="profileid">${note.senduser}</div>
					<div>${note.regdate}</div></div>`;

						}
						else {
							str += `<div class="row rows"><div class="newcheck""></div>
												<div><a class="get" href="/my/getNote?noteNum=${note.noteNum}&page=${nowpage}">${note.title}</a></div>
												<div id="profileid">${note.senduser}</div>
												<div>${note.regdate}</div></div>`;
						}
					}

				}
				$(".tbody").html(str);
				console.log("check");
				showPage(pageMaker);
			}
		)
	}
	function showPage(pageMaker) {
		let str = "";
		if (pageMaker.prev) {
			str += `<span><a class="changePage btn" href="${pageMaker.startPage - 1}">&lt;</a></span>`
		}
		for (let i = pageMaker.startPage; i <= pageMaker.endPage; i++) {
			if (i == nowpage) {
				str += `<span class="nowPage">${i}</span>`
			}
			else {
				str += `<span><a class="changePage btn" href="${i}">${i}</a></span>`
			}
		}
		if (pageMaker.next) {
			str += `<span><a class="changePage btn" href="${pageMaker.endPage + 1}">&gt;</a></span>`
		}
		$("#page").html(str);

		$(".changePage").click(function (e) {
			e.preventDefault();
			nowpage = e.target.getAttribute("href");
			showNote();
		})
	}
</script>

</html>