<html>

<head>
	<meta charset="UTF-8">
	<title>쪽지함</title>
	<link href="/css/KHE/style.css" rel="stylesheet">
</head>
<table>
	<div class="list table">
		<div class="thead tac">
			<div class="row rowt">
				<div></div>
				<div>제목</div>
				<div>보낸사람</div>
				<div>날짜</div>
			</div>
		</div>
		<div class="tbody">
		</div>
	</div>
</table>
<table>
	<tbody>
		<tr>
			<td id="page">

			</td>
		</tr>
	</tbody>
</table>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="/js/KHE/my.js"></script>
<script th:inline="javascript">
	function showNote(){
		
	}
	function pageMaker(){
		
	}
</script>
</html>