<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>index</title>
	<link rel="stylesheet" href="/css/KHE/header.css">
	<link rel="stylesheet" href="/css/main.css">
</head>

<body>
	<th:block th:replace="~{layout/KHE/header::header}"></th:block>
	<div id="wrap">
		<div>

			<div class="mainTopImg">
				<img src="/images/mainlogoimg.png" alt="">
				<h1>
					<span>A</span>
					<span>n</span>
					<span>i</span>
					<span>m</span>
					<span>a</span>
					<span>l</span>
					<span>p</span>
					<span>l</span>
					<span>a</span>
					<span>c</span>
					<span>e</span>
				</h1>
				<div class="block">
					<h1 class="block-title">애니멀 플레이스</h1>

					<div class="block-serve">
					<p id="bye">이 사이트는 질병 정보, 동물 병원 위치, 입양 정보, 포토 게시판, 모임 안내 등 다양한 기능을 제공하여</p>
					<p id="bye">연령에 관계없이 반려동물을 키우는 사람들이라면 누구든 필요로 하는 정보들을 한곳에서 쉽게 접근할 수 있습니다!</p>
					 </div>

				</div>
			</div>
			<div class="menu-up">

			</div>
			<div class="menu-down">
				<div class="main-pic1">
					<a href="/board/disease">
						<p>질병 게시판</p>
					</a>
				</div>
				<div class="main-pic2">
					<a href="/mboard/m_board">
						<p>모임 게시판</p>
					</a>
				</div>
				<div class="main-pic3">
					<a href="/pboard/list">
						<p>SNS</p>
					</a>
				</div>
				<div class="main-pic4">
					<a href="/adoption/list">
						<p>분양 게시판</p>
					</a>
				</div>
				<div class="main-pic5">
					<a href="/stray/list">
						<p>유기동물 게시판</p>
					</a>
				</div>
				<div class="main-pic6">
					<a href="/map/map">
						<p>병원 위치</p>
					</a>
				</div>
			</div>
		</div>
		<div class="main main-pboard">
			<div class="pboard-text">
				<p class="pboard-title">
					동물 사진 게시
				</p>
				<p>사랑스러운 반려동물의 사진을 공유해봐요</p>
				<a href="../pboard/list">더보기</a>
			</div>
			<div class="pboard-list">
				<div th:if="${flist != null or flist.size() != 0}">
					<p>좋아요를 많이 받은 게시글</p>
					<ul class="pboard-imgs">
						<div th:if="${flist == null or flist.size() == 0}" class="no_list">

							<img src="/images/nolike.webp">
							<div>
								<p>좋아요된 게시물이 없어요...</p>
								<p>더보기를 눌러서 마음에 드는 게시글에 좋아요를 눌러 주세요</p>
							</div>

						</div>
						<li class="pboard-img" th:each="img : ${flist}">
							<img th:src="${'/images/pimages/' + img}">
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="main mboard">
			<div class="mboard_wrap">

				<div class="mboard_txt">
					<p class="mboard_title">
						모임 게시판
					</p>

					<div class="mboard_info">
						<p>
							당신의 반려동물과 함께할 수 있는 특별한 순간을 만들어보세요!
						</p>
						<p>
							다양한 반려인들과 함께 즐거운 모임에 참여하여 소중한 인연을 맺을 수 있습니다!
						</p>
					</div>

					<div class="go_mboard">
						<a href="/mboard/m_board">바로가기</a>
					</div>
				</div>

				<div class="mboard_con">

					<div class="mboard_img">
						<img src="/images/mimages/노는 강아지.png" alt="">
						<p>Recent Posts</p>
						<img src="/images/mimages/공.png" alt="">
					</div>

					<div class="mboard_list">

						<div th:if="${mlist == null or mlist.size() == 0}" class="no_list">
							<div>등록된 게시글이 없습니다.</div>
						</div>

						<div class="lists" th:if="${mlist != null and mlist.size() > 0}" th:each="m_board:${mlist}">
							<a th:href="@{/mboard/m_get(mboardnum=${m_board.boardnum})}">[[${m_board.boardtitle}]]</a>
							<a th:href="@{/mboard/m_get(mboardnum=${m_board.boardnum})}">[[${m_board.userid}]]</a>
							<a th:href="@{/mboard/m_get(mboardnum=${m_board.boardnum})}">[[${m_board.setdate}]]</a>
						</div>
					</div>

				</div>

			</div>
		</div>
		<div class="main disease">
			<div class="disease-main-left">
				<div class="disease-title">
					<p>반려동물 질병 확인</p>
				</div>
				<div class="disease-left">
					<p>당신의 반려동물의 건강상태를 확인해보세요!</p>
					<p>동물들의 신체부위에 따른 증상과 질병 등 을 확인할 수 있습니다!</p>
				</div>
				<div class="disease-a"><button><a href="/board/disease">바로가기</a></button></div>
			</div>
			<div class="disease-main-right"><img src="/images/목욕하는 강아지.jpg" alt=""></div>
		</div>


		<div class="main_stray_adoption">
			<div class="stray">
				<div class="stray_txt">
					유기동물 게시판
				</div>

				<div class="stray_info">
					<p>상처받은 아이들에게 따뜻한 위로가 되어줄 가족을 찾습니다.</P>
					<p>서로의 소중한 존재가 되어, 함께 행복한 인생을 만들어 나가길 바랍니다.</P>
				</div>

				<div class="go_stray"><a href="/stray/list">바로가기</a></div>

				<div class="stray_img"><img src="/images/목줄 강아지.png"></div>
			</div>

			<div class="adoption">
				<div class="adoption_img"><img src="/images/쉬는 강아지.png"></div>

				<div class="adoption_txt">
					분양 게시판
				</div>

				<div class="adoption_info">
					<p>사랑스러운 반려동물과 함께 인생을 더욱 다채롭게 만들어보세요!</p>
					<p>여러분에게 둘도 없는 친구가 되어줄 소중한 친구들이 기다리고 있습니다.</p>
				</div>

				<div class="go_adoption"><a href="/adoption/list">바로가기</a></div>
			</div>
		</div>


		<div class="main map">
			<div id="map_img">
				<img src="/images/map/bgmapimg6.png" alt="" id="mapimg">
				<img src="/images/map/bgmapimg7.png" alt="" id="mapimg2">

			</div>
			<div id="inmap">
				<h3>주변 동물병원을 함께 찾아보아요</h3>
				<span>🌎 편리한 지도 검색을 통해</span><br>
				<span>주변의 동물병원과 지역 정보를</span><br>
				<span>쉽고 간편하게 확인할 수 있습니다. </span><br>
				<span>사랑하는 반려동물의 건강을 위해,</span><br>
				<span>필요한 정보를 한눈에 알아보세요! 🤩</span><br>
				<a href="../map/map" id="go_map">검색하기</a>
			</div>
		</div>
	</div>
	</div>



	</div>
	<th:block th:replace="~{layout/footer::footer}"></th:block>
</body>
<script>
	document.addEventListener('DOMContentLoaded', function () {
		const img = document.querySelector('.mainTopImg > img');
		const h1 = document.querySelector('.mainTopImg > h1');
		const block = document.querySelector('.block');
		const spans = document.querySelectorAll('h1 span');

		img.addEventListener('animationend', function () {
		        img.style.zIndex = 0; // 애니메이션이 끝나면 z-index를 0으로 변경

		        setTimeout(function() {
		            block.style.display = 'block'; // block을 표시
		            block.style.opacity = 0; // 초기 투명도 설정
		            
		            requestAnimationFrame(() => {
		                block.style.opacity = 1; // 애니메이션 효과로 투명도 변경
		            });
		        }, 3000);
		    });

		setTimeout(() => {
			// 로고와 텍스트를 왼쪽으로 이동
			img.style.transition = 'transform 1s'; // 부드러운 이동을 위해 transition 추가
			h1.style.transition = 'transform 1s';
			img.style.transform = 'translateX(-380px)'; // 왼쪽으로 이동 (픽셀 값은 조정 가능)
			h1.style.transform = 'translateX(-150px)'; // 같은 양만큼 왼쪽으로 이동

			// 5초 후에 바운스 효과 멈추기
			setTimeout(() => {
				spans.forEach(span => {
					span.style.animation = 'none'; // 애니메이션을 없애기
				});
			}, 2000); // 2초 후 실행
		}, 6000); // 6초 후 실행
	});


</script>

</html>