<th:block th:fragment="footer">
	<footer>
	    <div class="footer_area">
			
			<div class="footer_rayout">
				

			
	        <div class="footer_logo">
	            <img src="/images/footer/강아지 아이콘.png" alt="">
	            <div>
	                © Copyright AnimalPlace
	            </div>
	        </div>

	        <div class="footer_box">
	            <div class="team_info">
	                <div class="team_name">
	                    <div>
	                        <div>김영민</div>
	                        <a href="https://github.com/enjoymin" target="_blank">https://github.com/enjoymin</a>
	                    </div>
	                    <div>
	                        <div>강한얼</div>
	                        <a href="https://github.com/Gilmani90" target="_blank">https://github.com/Gilmani90</a>
	                    </div>
	                    <div>
	                        <div>배규진</div>
	                        <a href="https://github.com/bgj5593" target="_blank">https://github.com/bgj5593</a>
	                    </div>
	                    <div>
	                        <div>윤경수</div>
	                        <a href="https://github.com/YoonKyungSoo" target="_blank">
	                            https://github.com/YoonKyungSoo
	                        </a>
	                    </div>
	                    <div>
	                        <div>윤혜정</div>
	                        <a href="https://github.com/ri0-0ri" target="_blank">https://github.com/ri0-0ri</a>
	                    </div>
	                    <div>
	                        <div>장수호</div>
	                        <a href="https://github.com/sholeaf" target="_blank">https://github.com/sholeaf</a>
	                    </div>
	                </div>
	            </div>

	            <div class="tool_info">
	                <div class="toolbox">
	                    <img src="/images/footer/github_logo.png" alt="">
	                    <div>GitHub</div>
	                </div>

	                <div class="toolbox">
	                    <img src="/images/footer/notion_logo.png" alt="">
	                    <div>Notion</div>
	                </div>

	                <div class="toolbox">
	                    <img src="/images/footer/figma_logo.png" alt="">
	                    <div>Figma</div>
	                </div>

	                <div class="toolbox">
	                    <img src="/images/footer/erdcloud_logo.png" alt="" id="erd_round">
	                    <div>ERD CLOUD</div>
	                </div>

	                <div class="toolbox">
	                    <img src="/images/footer/vs_logo.png" alt="">
	                    <div>Visual Studio Code</div>
	                </div>

	                <div class="toolbox">
	                    <img src="/images/footer/spring_logo.png" alt="">
	                    <div>Spring Tool Suite4</div>
	                </div>

	                <div class="Team_Notion">
	                    <div>Team Notion</div>
	                    <a href="https://www.notion.so/KH-2-106c2614df4c80e89b89db2fbf3b6b3a?pvs=11"
	                        target="_blank">Click !</a>
	                </div>
	            </div>
	        </div>
			
			</div> <!--푸터 레이아웃-->
			
	    </div>
	</footer>
</th:block>