<th:block th:fragment="header">
	<header>
		<span style="margin-left: 50px;">
			<a href="/board/"><img src="/images/aplogo.png" style="height: 100px;"></a>
		</span>
		<span id="notice">
			<a href=""><img src="/images/bell1.png" style="height: 80px;"></a>
		</span>
		<span id="menu">
			<a href="" class="menu"><img src="/images/menu.svg"></a>
		</span>
	</header>
	<div id="menubar" style="right: -400px">
		<ul id="menulist">
			<h3 style="font-size: 30px;">메뉴</h3>
			<li><a id="b1">분양게시판</a></li>
			<li><a id="b2">질병정보</a></li>
			<li><a id="b3">병원위치</a></li>
			<li><a id="b4">모임게시판</a></li>
			<li><a id="b5">SNS</a></li>
			<li style="color: rgb(50,50,50);">마이페이지</li>
		</ul>
		<div>
			<ul id="mypagelist">
				<li><a href="/my/profile">회원정보</a></li>
				<li><a href="/my/contents">등록한글</a></li>
				<li><a>알림내역</a></li>
				<li><a >로그아웃</a></li>
			</ul>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script src="/js/menu.js"></script>
	<script>
		const menu = document.getElementById("menubar");
		$(".menu").click(function(e) {
			e.preventDefault(); // 기본 동작 방지
			if (menu.style.right === "-400px") {
				menu.style.right = "0px"; // 메뉴 열기
			} else {
				menu.style.right = "-400px"; // 메뉴 닫기
			}
		});
	</script>
</th:block>