<th:block th:fragment="header">
	<link href="/css/KHE/header.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<header>
		<div class="hide">
			<span>
				<a href="/" style="font-size: 50px; color:rgba(87, 153, 86, 1);">Animal Place</a>
			</span>
			<span id="alarm" class="alarm alarmwindow">
				<a href=""><img src="/images/KHE/bell1.png" style="height: 40px;"></a>
			</span>
			<span id="alarm2" class="alarm2" style="display:none; ">
				<img src="/images/KHE/alarm.png" style="height: 13px;">
			</span>
			<div id="alarmpage" style="display: none;">
				<table class="alarmP">

				</table>
			</div>
			<div id="alarmpagetri" class="alarmwindow" style="display: none;"></div>
			<div id="alarmnotice" style="display:none; font-family: 'MinSans-Regular';">새롭게 확인해야할 내용이 있어요!
			</div>
			<span id="login" class="alarm" style="display:none">
				<a href="" id="login"><img src="/images/KHE/login.png"></a>
			</span>
			<span id="menu">
				<a href="" class="menu"><img src="/images/KHE/menu.svg"></a>
			</span>
			<div id="loginmodal" class="modal-header" style="display: none;">
				<div class="modal-content-header" id="modal-image">
					<span class="close-header">&times;</span>
					<form id="loginForm" action="/user/login" method="post" name="loginForm">
						<input id="path" type="hidden" name="path" th:value="${path}">
						<table id="modal_login">
							<tbody>
								<tr>
									<th id="loginid">아이디</th>
									<td>
										<input id="lgd" type="text" name="userid">
									</td>
								</tr>
								<tr>
									<th>비밀번호</th>
									<td>
										<input id="lgp" type="password" name="userpw">
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<div>
											<input class="btn-header" id="submitlogin" type="button" value="로그인">
											<input class="btn-header" type="button" value="회원가입"
												onclick="location.href = '/user/join'">
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
				<div id="caption"></div>
			</div>
		</div>
		<div id="popup-user" style="display: none;">
			<table>
				<tr>
					<td><a id="userprofile">회원정보</a></td>
				</tr>
				<tr>
					<td><a id="writeNote">쪽지보내기</a></td>
				</tr>
			</table>
		</div>
	</header>
	<div id="header"></div>
	<div id="menubar" style="right: -400px">
		<ul id="menulist">
			<h3 style="font-size:30px; font-family: 'TTLaundryGothicB' !important;">메뉴</h3>
			<li><a href="/adoption/list" id="b0">분양게시판</a></li>
			<li><a href="/stray/list" id="b1">유기동물정보</a></li>
			<li><a href="/board/disease" id="b2">질병정보</a></li>
			<li><a href="/map/map" id="b3">병원위치</a></li>
			<li><a href="/mboard/m_board" id="b4">모임게시판</a></li>
			<li><a href="/pboard/list" id="b5">SNS</a></li>
			<li id="mypage" style="color: rgb(50,50,50); font-family: 'TTLaundryGothicB' !important; font-size: 20px;">
				마이페이지</li>
		</ul>
		<div>
			<ul id="mypagelist" style="font-size: 18px;">
				<li><a href="/my/profile">회원정보</a></li>
				<li><a href="/my/contents">등록한글</a></li>
				<li><a href="" id="notepage">쪽지함</a></li>
				<li><a id="logout" style="color: rgb(80, 80, 80);">로그아웃</a></li>
				<form id="logoutForm" action="/user/logout" method="post" name="logoutForm">
					<input type="hidden" name="path" id="logoutPath">
				</form>
			</ul>
		</div>
		<th:block th:if="${session.loginUser == null}">
			<script>
				$("#alarm").hide();
				$("#mypagelist").hide();
				$("#mypage").hide();
				$("#login").show();
			</script>
		</th:block>
	</div>
	<script th:inline="javascript">
		let flag = false;
		const loginUser = /*[[${session.loginUser}]]*/'';
		const menu = document.getElementById("menubar");
		let profileid = '';
		$(document).on('click', '.menu', function (e) {
			e.preventDefault(); // 기본 동작 방지
			if (menu.style.right === "-400px") {
				window.setTimeout(function () {
					menu.style.right = "0px"; // 메뉴 열기
				}, 10)
			} else {
				window.setTimeout(function () {
					menu.style.right = "-400px"; // 메뉴 닫기
				}, 10)
			}
		});
		$(document).on('click', function (e) {
			// 메뉴가 열린 상태에서만 외부 클릭 시 메뉴를 닫음
			if (menu.style.right !== '-400px' && !$(e.target).closest('#menubar').length) {
				menu.style.right = "-400px";
			}
		});

		$(window).on('load', function () {
			window.setTimeout(function () {
				if (loginUser != null) {
					alex();
				}
			}, 300)
		});

		const alamcaller = setInterval(alex, 300000); //주기적으로 alex()함수 호출
		
		$(document).on('click', '#logout', function (e) {
			e.preventDefault();
			const path = window.location.pathname + window.location.search;
			$("#logoutPath").val(path);
			const logoutForm = document.logoutForm;
			logoutForm.submit();
		});

		$(document).on('click', '.alarmwindow', function (e) {
			e.preventDefault();
			if (flag) {
				showAlarm();
			}
		});
		$(".alarmwindow").hover(function () {
			$("#alarmnotice").fadeOut(200);

		})
		$(document).on('click', '#login', function (e) {
			e.preventDefault();
			const path = window.location.pathname + window.location.search;
			$("#loginmodal").fadeIn(200);
			$("#path").val(path);
			$("#lgd").focus();
			$("#lgd").val("");
			$("#lgp").val("");
		});
		$('.close-header').on('click', function () {
			$('#loginmodal').fadeOut(200); // 모달 숨기기
		})
		$(window).on('click', function (event) {
			if (event.target === document.getElementById('loginmodal')) {
				$('#loginmodal').fadeOut(200);
			}
		});
		$("#submitlogin").click(function (e) { //로그인 시도시 아이디/비밀번호를 체크하는 함수
			e.preventDefault();
			submitlogin();
		})
		$("#lgp").keydown(function (e) {
			if (e.key === 'Enter') {
				submitlogin();
			}
		});
		function submitlogin() {
			if ($("#lgd").val() == null || $("#lgd").val() == '' || $("#lgp").val() == null || $("#lgp").val() == '') {
				alert("아이디/비밀번호를 입력해주세요!");
				$("#lgd").val("");
				$("#lgp").val("");
				$("#lgd").focus();
			}
			else {
				let str = '';
				str += $("#lgd").val();
				str += '&userpw=';
				str += $("#lgp").val();

				$.getJSON(
					`/user/isUser?userid=` + str,

					function (data) {
						if (data) {
							$("#loginForm").submit();
						}
						else {
							alert("등록된 회원정보와 일치하지 않습니다!");
							$("#lgd").val("");
							$("#lgp").val("");
							$("#lgd").focus();
						}
					}
				)
			}
		}
		function alex() {		//알람목록을 검색하여 알람내역 여부를 확인하는 함수
			$.getJSON(
				`/my/alarmcheck`,
				function (data) {
					if (data) {
						flag = data;
						$("#alarm2").fadeIn(200);
						$("#alarmnotice").fadeIn(200);
					}
					else {
						$("#alarmnotice").hide();
					}
				}
			)
		}
		function showAlarm() {		//알람 창을 보여주는 함수
			window.setTimeout(function () {
				if ($("#alarmpage").css("display") == 'none') {
					$("#alarmpage").fadeIn(200);
					$("#alarmpagetri").fadeIn(200);
					alarm();
				}
				else {
					$("#alarmpage").fadeOut(200);
					$("#alarmpagetri").fadeOut(200);
				}
			}, 10)
		}
		function alarm() {		//알람 창에 알람 내역을 불러오는 함수
			$.getJSON(
				`/my/alarm`,
				function (data) {
					let str = "";
					for (let i = 0; i < data.length; i++) {
						const content = data[i];
						if (content.reply == 1) {
							str += `<tr class="alarmtable"><td class="atitle"><a class="atitle" href="${content.contentpath}">${content.boardtitle} </a>글에 댓글이 달렸습니다!</td>
						<td class="acheck"><a onclick="alcheck(${content.alarmnum})">확인</a></td></tr>`;
						}
						else if (content.ameeting == 1) {
							str += `<tr class="alarmtable"><td class="atitle"><a class="atitle" href="${content.contentpath}">${content.boardtitle} </a>모임에 새로운 사람이 참여했습니다!</td>
													<td class="acheck"><a onclick="alcheck(${content.alarmnum})">확인</a></td></tr>`;
						}
						else if (content.dmeeting == 1) {
							str += `<tr class="alarmtable"><td class="atitle"><a class="atitle" href="${content.contentpath}">${content.boardtitle} </a>모임에 참여를 취소한 사람이 있습니다!</td>
													<td class="acheck"><a onclick="alcheck(${content.alarmnum})">확인</a></td></tr>`;
						}
						else if (content.plike == 1) {
							str += `<tr class="alarmtable"><td class="atitle"><a class="atitle" href="${content.contentpath}">${content.boardtitle} </a>글에 좋아요가 늘어났어요!</td>
																				<td class="acheck"><a onclick="alcheck(${content.alarmnum})">확인</a></td></tr>`;
						}
						else if (content.note == 1) {
							str += `<tr class="alarmtable"><td class="atitle"><a class="atitle" href="#" onclick="notePage()" id="notepage">새로운 쪽지가 왔습니다!</a></td>
																												<td class="acheck"><a onclick="alcheck(${content.alarmnum})">확인</a></td></tr>`;
						}
					}
					$("#alarmpage").html(str);
				}
			)
		}
		function alcheck(num) {		//알람창에서 '확인' 버튼을 누르면 내역이 없어지도록 하는 함수
			$.get("/my/deleteAlarm?num=" + num);
			window.setTimeout(function () {
				alarm();
			}, 30)
			$.getJSON(
				`/my/alarm`,
				function (data) {
					if (data.length == 1) {
						showAlarm();
						$("#alarm2").fadeOut(200);
						$("#alarmnotice").fadeOut(200);
						flag = false;
					}
				}
			)
		}

		$(document).on('click', '.usermenu', function (e) {
			e.preventDefault();
			profileid = $(this).html();
			if (loginUser == profileid) {
				return;
			}
			usermenu(e);
		});
		function usermenu(e) {
			var lx = e.pageX;
			var ly = e.pageY;
			// 팝업 위치 설정
			var scrollTop = $(window).scrollTop();
			var scrollLeft = $(window).scrollLeft();

			$('#popup-user').css({
				top: (ly - scrollTop - 5) + 'px',
				left: (lx - scrollLeft - 5) + 'px'
			}).fadeIn(200);

		}
		$('#popup-user').click(function (event) {
			event.stopPropagation(); // 이벤트 전파 방지
			$(this).fadeOut(200);

		});
		$(document).on('click', function (event) {
			if (!$(event.target).closest('#popup-user').length && !$(event.target).is('.usermenu')) {
				$('#popup-user').fadeOut(200);
			}
		});
		$(document).on('click', function (event) {
			if ($("#alarmpage").css("display") != 'none') {
				if (!$(event.target).closest('#alarmpage').length && !$(event.target).is('#alarm')) {
					$("#alarmpage").fadeOut(200);
					$("#alarmpagetri").fadeOut(200);
				}
			}
		});
		$("#userprofile").on('click', function (e) {
			window.open('/my/userprofile?userid=' + profileid, '팝업1', 'width=510,height=500,top=140%,left=500%, location=no');
		});
		$("#writeNote").on('click', function (e) {
			if (loginUser == null) {
				alert("쪽지는 로그인 후에 보낼 수 있습니다!");
				return;
			}
			window.open('/my/writeNote?userid=' + profileid, '팝업2', 'width=490,height=430,top=180%,left=600%, location=no');
		});
		$("#notepage").on('click', function (e) {
			e.preventDefault();
			window.open('/my/note?page=1', '팝업', 'width=600,height=580,top=40%,left=40%');
		});
		function notePage() {
			$("#alarmpage").fadeOut(200);
			$("#alarmpagetri").fadeOut(200);
			window.open('/my/note?page=1', '팝업', 'width=600,height=580,top=40%,left=40%');
		}
	</script>
</th:block>