<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>메인</title>
	<link href="/css/KHE/style.css" rel="stylesheet">
</head>

<body>
	<th:block th:replace="~{layout/KHE/header::header}"></th:block>
	<div id="wrap">
			<div class="main main-pboard">
				<div class="pboard-text">
					<Strong>사랑스러운 반려동물의 사진을 공유해봐요</Strong>
					<a href="../pboard/list">더보기</a>
				</div>
				<div th:if="${flist == null or flist.size() == 0}" class="no_list">
					<img src="/images/nolike.webp">
					<div>
						<p>좋아요된 게시물이 없어요...</p>
						<p>더보기를 눌러서 마음에 드는 게시글에 좋아요를 눌러 주세요</p>
					</div>
				</div>
				<div class="pboard-list">
					<div th:if="${flist != null or flist.size() != 0}">
						<p>좋아요를 많이 받은 게시글</p>
						<ul class="pboard-imgs">
							<li class="pboard-img" th:each="img : ${flist}">
								<img th:src="${'/images/pimages/' + img}">
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	<th:block th:replace="~{layout/footer::footer}"></th:block>
</body>
<script src=" https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
</script>

</html>