<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>무료 분양동물</title>
<link rel="stylesheet" href="/css/stray/adoption.css">
<link rel="stylesheet" href="/css/footer.css">
<style>
</style>
</head>
<body class="get">
	<th:block th:if="${w != null and w != ''}">
		<script>
			alert("게시글 등록 성공!");
		</script>
	</th:block>
	<th:block th:replace="~{layout/KHE/header::header}"></th:block>

	<div id="wrap" class="get">
		<div class="h2">
			<span>[[${adoption.title}]]</span>
		</div>
		<table border="1" class="adoption_area">
			</tr>
				<tr>
					<th>작성자</th>
					<td colspan="3" id="userid">[[${user.username}]]</td>
				</tr>
				<tr>
					<th>동물 - 구분</th>
					<td id="breed">[[${adoption.breed}]]</td>
					<th>동물 - 품종</th>
					<td id="type">[[${adoption.type}]]</td>
				</tr>
				<tr>
					<th>성별</th>
					<td id="gender">[[${adoption.gender}]]</td>
					<th>나이</th>
					<td id="age">[[${adoption.age}]]</td>
				</tr>
				<tr>
					<th>책임비</th>
					<td id="cost">[[${adoption.cost}]]</td>
					<th>분양 지역</th>
					<td id="region">[[${adoption.region}]]</td>					
				</tr>
				<tr>
					<th>분양 여부</th>
					<td colspan="3" id="adoptionOk">[[${adoption.adoptionOk}]]</td>
				</tr>
				<tr th:if="${session.loginUser != null}">
					<th>연락처</th>
					<td id="userphone">[[${user.userphone}]]</td>
					<th>이메일</th>
					<td id="useremail">[[${user.useremail}]]</td>				
				</tr>
				<tr th:if="${session.loginUser == null}">
					<th>연락처</th>
					<td id="userphone"><span>로그인 후 확인가능</span></td>
					<th>이메일</th>
					<td id="useremail"><span>로그인 후 확인가능</span></td>	
				</tr>
				<tr>
					<th>메인사진</th>
					<td colspan="3">
						<img class="thumbnail" id="mainImg"
						th:src="${'/adfile/onethumbnail?adoptionnum='+adoption.adoptionnum}">
					</td>
				</tr>
				<tr>
					<th>내 용</th>
					<td colspan="3" id="contents">[[${adoption.contents}]]</td>
				</tr>
			</tbody>
		</table>
		<div class="right">	
			<div class="text_area">
				<p>책임비는 분양인이 입양인에게 책임있게 키워달라는 의미로 받는 금액입니다.
					<br><br>
					그냥 무료로 분양하게될 경우, <br>
					너무 부담없이 인계받아, 생명을 가볍게 여기는 심리가 발생할 수도 있기때문에 책정하는 성의표시 금액으로, <br>
					<br>
					완전 무료부터, 만원단위로 최대 5만원까지 책정할 수 있습니다.
					<br><br>
					상업적인 유료분양글은 따로 운영하고 있지 않습니다.
					<br>
					무료분양글만 등록하셔야만 합니다~
				</p>
			</div>
			<div class="txt">
				<p>사진을 클릭하시면 메인 사진이 변경됩니다.</p>
			</div>
			<div class="img">
			    <div th:each="file:${files}" th:if="${files != null and files.size() > 0}">
			        <th:block th:with="sar=${file.systemname.split('[.]')}">
			            <th:block th:with="ext=${sar[sar.length-1]}">
			                <div onclick="getImageSrc(this)">					
			                    <img class="thumbnail" th:if="${ext == 'jpg' or ext == 'png' or ext == 'jpeg' or ext == 'gif' or ext == 'webp'}"
			                         th:src="${'/adfile/thumbnail?systemname='+file.systemname}">
			                </div>
			            </th:block>
			        </th:block>
			    </div>
			</div>
		</div>
		<table class="btn_area">
			<tbody>
				<tr>
					<td>
						<th:block th:if="${adoption.userid == session.loginUser}">
							<a class="btn" th:href="${'/adoption/modify'+adCri.listLink+'&adoptionnum='+adoption.adoptionnum}">수정</a>
							<a class="btn" th:href="${'/adoption/remove'+adCri.listLink+'&adoptionnum='+adoption.adoptionnum}">삭제</a>
						</th:block>
						<a class="btn" th:href="${'/adoption/list'}">목록</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<th:block th:replace="~{layout/footer::footer}"></th:block>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script th:inline="javascript">
	function getImageSrc(div) {
	    const img = div.querySelector('.thumbnail'); // div 안의 img 선택
		const main = document.getElementById('mainImg');
	    const imgSrc = img.src; // img의 src 추출
		main.src = imgSrc;
		console.log();	
	}
</script>
</html>


































