<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>무료 분양동물</title>
<link rel="stylesheet" href="/css/stray/adoption.css">
<link rel="stylesheet" href="/css/footer.css">
<style>
</style>
</head>
<body>
	<th:block th:replace="~{layout/KHE/header::header}"></th:block>
	<div id="main">
        <div id="wrap">
			<div class="h2">
	            <span>무료 동물 분양 등록</span>
			</div>
			<form id="adoptionForm" method="post" name="adoptionForm" action="/adoption/modify" enctype="multipart/form-data">
				<input type="hidden" name="adoptionnum" th:value="${adoption.adoptionnum}">
				<input type="hidden" name="pageNum" th:value="${adCri.pageNum}">
				<input type="hidden" name="pageSize" th:value="${adCri.pageSize}">
				<table border="1">
					<tr>
						<th>제목</th>
						<td>
							<input type="text" name="title" maxlength="50" th:value="${adoption.title}" placeholder="제목을 입력하세요">
						</td>
					</tr>
					<tr>
						<th>작성자</th>
						<td>
							<input type="text" name="userid" maxlength="50" readonly th:value="${session.loginUser}">
						</td>
					</tr>
					<tr>
						<th>동물정보</th>
						<td>
		                    <span>동물 선택</span>
							<select id="breed" name="breed" onchange="updateSecondSelect()">
							    <option value="강아지" th:selected="${adCri.breed == '강아지'}">강아지</option>
							    <option value="고양이" th:selected="${adCri.breed == '고양이'}">고양이</option>
							    <option value="고슴도치" th:selected="${adCri.breed == '고슴도치'}">고슴도치</option>
							    <option value="기니피그" th:selected="${adCri.breed == '기니피그'}">기니피그</option>
							    <option value="토끼" th:selected="${adCri.breed == '토끼'}">토끼</option>
							    <option value="햄스터" th:selected="${adCri.breed == '햄스터'}">햄스터</option>
							    <option value="기타" th:selected="${adCri.breed == '기타'}">기타</option>
							</select>
							<th:block th:if="${adCri.breed == '강아지'}">
								<span>품종 선택</span>
								<select id="type" name="type">
								    <option value="골든두들" th:selected="${adCri.type == '골든두들'}">골든두들</option>
								    <option value="골든 리트리버" th:selected="${adCri.type == '골든 리트리버'}">골든 리트리버</option>
								    <option value="그레이트 데인" th:selected="${adCri.type == '그레이트 데인'}">그레이트 데인</option>
								    <option value="그레이트 피레니즈" th:selected="${adCri.type == '그레이트 피레니즈'}">그레이트 피레니즈</option>
								    <option value="그레이하운드" th:selected="${adCri.type == '그레이하운드'}">그레이하운드</option>
								    <option value="꼬똥 드 툴레아" th:selected="${adCri.type == '꼬똥 드 툴레아'}">꼬똥 드 툴레아</option>
								    <option value="뉴펀들랜드" th:selected="${adCri.type == '뉴펀들랜드'}">뉴펀들랜드</option>
								    <option value="닥스훈트" th:selected="${adCri.type == '닥스훈트'}">닥스훈트</option>
								    <option value="달마시안" th:selected="${adCri.type == '달마시안'}">달마시안</option>
								    <option value="도고 아르헨티노" th:selected="${adCri.type == '도고 아르헨티노'}">도고 아르헨티노</option>
								    <option value="도베르만" th:selected="${adCri.type == '도베르만'}">도베르만</option>
								    <option value="래브라도 리트리버" th:selected="${adCri.type == '래브라도 리트리버'}">래브라도 리트리버</option>
								    <option value="라사압소" th:selected="${adCri.type == '라사압소'}">라사압소</option>
								    <option value="라이카" th:selected="${adCri.type == '라이카'}">라이카</option>
								    <option value="로트와일러" th:selected="${adCri.type == '로트와일러'}">로트와일러</option>
								    <option value="마리노이즈" th:selected="${adCri.type == '마리노이즈'}">마리노이즈</option>
								    <option value="마스티프" th:selected="${adCri.type == '마스티프'}">마스티프</option>
								    <option value="말티즈" th:selected="${adCri.type == '말티즈'}">말티즈</option>
								    <option value="말티푸" th:selected="${adCri.type == '말티푸'}">말티푸</option>
								    <option value="몰키" th:selected="${adCri.type == '몰키'}">몰키</option>
								    <option value="미니어처 핀셔" th:selected="${adCri.type == '미니어처 핀셔'}">미니어처 핀셔</option>
								    <option value="바센지" th:selected="${adCri.type == '바센지'}">바센지</option>
								    <option value="바셋 하운드" th:selected="${adCri.type == '바셋 하운드'}">바셋 하운드</option>
								    <option value="바이마라너" th:selected="${adCri.type == '바이마라너'}">바이마라너</option>
								    <option value="버니즈 마운틴 독" th:selected="${adCri.type == '버니즈 마운틴 독'}">버니즈 마운틴 독</option>
								    <option value="베들링턴 테리어" th:selected="${adCri.type == '베들링턴 테리어'}">베들링턴 테리어</option>
								    <option value="보더 콜리" th:selected="${adCri.type == '보더 콜리'}">보더 콜리</option>
								    <option value="보스턴 테리어" th:selected="${adCri.type == '보스턴 테리어'}">보스턴 테리어</option>
								    <option value="복서" th:selected="${adCri.type == '복서'}">복서</option>
								    <option value="볼조이" th:selected="${adCri.type == '볼조이'}">볼조이</option>
								    <option value="불개" th:selected="${adCri.type == '불개'}">불개</option>
								    <option value="불독" th:selected="${adCri.type == '불독'}">불독</option>
								    <option value="불 테리어" th:selected="${adCri.type == '불 테리어'}">불 테리어</option>
								    <option value="브뤼셀 그리펀" th:selected="${adCri.type == '브뤼셀 그리펀'}">브뤼셀 그리펀</option>
								    <option value="브리트니" th:selected="${adCri.type == '브리트니'}">브리트니</option>
								    <option value="비글" th:selected="${adCri.type == '비글'}">비글</option>
								    <option value="비숑 프리제" th:selected="${adCri.type == '비숑 프리제'}">비숑 프리제</option>
								    <option value="비어디드 콜리" th:selected="${adCri.type == '비어디드 콜리'}">비어디드 콜리</option>
								    <option value="비즐라" th:selected="${adCri.type == '비즐라'}">비즐라</option>
								    <option value="파피용" th:selected="${adCri.type == '파피용'}">파피용</option>
								    <option value="사모예드" th:selected="${adCri.type == '사모예드'}">사모예드</option>
								    <option value="삽살개" th:selected="${adCri.type == '삽살개'}">삽살개</option>
								    <option value="샤페이" th:selected="${adCri.type == '샤페이'}">샤페이</option>
								    <option value="세인트 버나드" th:selected="${adCri.type == '세인트 버나드'}">세인트 버나드</option>
								    <option value="저먼 셰퍼드" th:selected="${adCri.type == '저먼 셰퍼드'}">저먼 셰퍼드</option>
								    <option value="셰틀랜드 쉽독" th:selected="${adCri.type == '셰틀랜드 쉽독'}">셰틀랜드 쉽독</option>
								    <option value="슈나우저" th:selected="${adCri.type == '슈나우저'}">슈나우저</option>
								    <option value="시바견" th:selected="${adCri.type == '시바견'}">시바견</option>
								    <option value="시베리안 허스키" th:selected="${adCri.type == '시베리안 허스키'}">시베리안 허스키</option>
								    <option value="시츄" th:selected="${adCri.type == '시츄'}">시츄</option>
								    <option value="아메리칸 코커 스패니얼" th:selected="${adCri.type == '아메리칸 코커 스패니얼'}">아메리칸 코커 스패니얼</option>
								    <option value="아이리시 세터" th:selected="${adCri.type == '아이리시 세터'}">아이리시 세터</option>
								    <option value="아키타견" th:selected="${adCri.type == '아키타견'}">아키타견</option>
								    <option value="아프간 하운드" th:selected="${adCri.type == '아프간 하운드'}">아프간 하운드</option>
								    <option value="알래스칸 맬러뮤트" th:selected="${adCri.type == '알래스칸 맬러뮤트'}">알래스칸 맬러뮤트</option>
								    <option value="알래스칸 클리 카이" th:selected="${adCri.type == '알래스칸 클리 카이'}">알래스칸 클리 카이</option>
								    <option value="에어데일 테리어" th:selected="${adCri.type == '에어데일 테리어'}">에어데일 테리어</option>
								    <option value="오브차카" th:selected="${adCri.type == '오브차카'}">오브차카</option>
								    <option value="올드 잉글리시 쉽독" th:selected="${adCri.type == '올드 잉글리시 쉽독'}">올드 잉글리시 쉽독</option>
								    <option value="와이어 폭스 테리어" th:selected="${adCri.type == '와이어 폭스 테리어'}">와이어 폭스 테리어</option>
								    <option value="요크셔 테리어" th:selected="${adCri.type == '요크셔 테리어'}">요크셔 테리어</option>
								    <option value="웰시 코기" th:selected="${adCri.type == '웰시 코기'}">웰시 코기</option>
								    <option value="이탈리안 그레이하운드" th:selected="${adCri.type == '이탈리안 그레이하운드'}">이탈리안 그레이하운드</option>
								    <option value="잉글리쉬 코카스파니엘" th:selected="${adCri.type == '잉글리쉬 코카스파니엘'}">잉글리쉬 코카스파니엘</option>
								    <option value="잭 러셀 테리어" th:selected="${adCri.type == '잭 러셀 테리어'}">잭 러셀 테리어</option>
								    <option value="재패니즈 스피츠" th:selected="${adCri.type == '재패니즈 스피츠'}">재패니즈 스피츠</option>
								    <option value="진돗개" th:selected="${adCri.type == '진돗개'}">진돗개</option>
								    <option value="차우차우" th:selected="${adCri.type == '차우차우'}">차우차우</option>
								    <option value="치와와" th:selected="${adCri.type == '치와와'}">치와와</option>
								    <option value="친" th:selected="${adCri.type == '친'}">친</option>
								    <option value="카네코르소" th:selected="${adCri.type == '카네코르소'}">카네코르소</option>
								    <option value="콜리" th:selected="${adCri.type == '콜리'}">콜리</option>
								    <option value="킹 찰스 스패니얼" th:selected="${adCri.type == '킹 찰스 스패니얼'}">킹 찰스 스패니얼</option>
								    <option value="퍼그" th:selected="${adCri.type == '퍼그'}">퍼그</option>
								    <option value="페키니즈" th:selected="${adCri.type == '페키니즈'}">페키니즈</option>
								    <option value="펨브록 웰시 코기" th:selected="${adCri.type == '펨브록 웰시 코기'}">펨브록 웰시 코기</option>
								    <option value="포메라니안" th:selected="${adCri.type == '포메라니안'}">포메라니안</option>
								    <option value="포인터" th:selected="${adCri.type == '포인터'}">포인터</option>
								    <option value="폼스키" th:selected="${adCri.type == '폼스키'}">폼스키</option>
								    <option value="폼피츠" th:selected="${adCri.type == '폼피츠'}">폼피츠</option>
								    <option value="푸들" th:selected="${adCri.type == '푸들'}">푸들</option>
								    <option value="풍산개" th:selected="${adCri.type == '풍산개'}">풍산개</option>
								    <option value="프렌치 불독" th:selected="${adCri.type == '프렌치 불독'}">프렌치 불독</option>
								    <option value="핏불 테리어" th:selected="${adCri.type == '핏불 테리어'}">핏불 테리어</option>
								    <option value="화이트 테리어" th:selected="${adCri.type == '화이트 테리어'}">화이트 테리어</option>
								    <option value="기타" th:selected="${adCri.type == '기타'}">기타</option>
								</select>
							</th:block>
							<th:block th:if="${adCri.breed == '고양이'}">
								<span>품종 선택</span>
								<select id="type" name="type">
								    <option value="네바 마스커레이드" th:selected="${adCri.type == '네바 마스커레이드'}">네바 마스커레이드</option>
								    <option value="노르웨이 숲고양이" th:selected="${adCri.type == '노르웨이 숲고양이'}">노르웨이 숲고양이</option>
								    <option value="데본렉스" th:selected="${adCri.type == '데본렉스'}">데본렉스</option>
								    <option value="라펌" th:selected="${adCri.type == '라펌'}">라펌</option>
								    <option value="러시안 블루" th:selected="${adCri.type == '러시안 블루'}">러시안 블루</option>
								    <option value="랙돌" th:selected="${adCri.type == '랙돌'}">랙돌</option>
								    <option value="망스" th:selected="${adCri.type == '망스'}">망스</option>
								    <option value="맹크스" th:selected="${adCri.type == '맹크스'}">맹크스</option>
								    <option value="먼치킨" th:selected="${adCri.type == '먼치킨'}">먼치킨</option>
								    <option value="메인쿤" th:selected="${adCri.type == '메인쿤'}">메인쿤</option>
								    <option value="벵갈" th:selected="${adCri.type == '벵갈'}">벵갈</option>
								    <option value="버만" th:selected="${adCri.type == '버만'}">버만</option>
								    <option value="버미즈" th:selected="${adCri.type == '버미즈'}">버미즈</option>
								    <option value="버밀라" th:selected="${adCri.type == '버밀라'}">버밀라</option>
								    <option value="봄베이" th:selected="${adCri.type == '봄베이'}">봄베이</option>
								    <option value="브리티시 쇼트헤어" th:selected="${adCri.type == '브리티시 쇼트헤어'}">브리티시 쇼트헤어</option>
								    <option value="사바나" th:selected="${adCri.type == '사바나'}">사바나</option>
								    <option value="샴" th:selected="${adCri.type == '샴'}">샴</option>
								    <option value="셀커크 렉스" th:selected="${adCri.type == '셀커크 렉스'}">셀커크 렉스</option>
								    <option value="소말리" th:selected="${adCri.type == '소말리'}">소말리</option>
								    <option value="스노우슈" th:selected="${adCri.type == '스노우슈'}">스노우슈</option>
								    <option value="스코티시 폴드" th:selected="${adCri.type == '스코티시 폴드'}">스코티시 폴드</option>
								    <option value="스핑크스" th:selected="${adCri.type == '스핑크스'}">스핑크스</option>
								    <option value="싱가푸라" th:selected="${adCri.type == '싱가푸라'}">싱가푸라</option>
								    <option value="아메리칸 밥테일" th:selected="${adCri.type == '아메리칸 밥테일'}">아메리칸 밥테일</option>
								    <option value="아메리칸 버미즈" th:selected="${adCri.type == '아메리칸 버미즈'}">아메리칸 버미즈</option>
								    <option value="아메리칸 쇼트헤어" th:selected="${adCri.type == '아메리칸 쇼트헤어'}">아메리칸 쇼트헤어</option>
								    <option value="아메리칸 와이어헤어" th:selected="${adCri.type == '아메리칸 와이어헤어'}">아메리칸 와이어헤어</option>
								    <option value="아메리칸 컬" th:selected="${adCri.type == '아메리칸 컬'}">아메리칸 컬</option>
								    <option value="아비시니안" th:selected="${adCri.type == '아비시니안'}">아비시니안</option>
								    <option value="엑조틱 쇼트헤어" th:selected="${adCri.type == '엑조틱 쇼트헤어'}">엑조틱 쇼트헤어</option>
								    <option value="오리엔탈 롱헤어" th:selected="${adCri.type == '오리엔탈 롱헤어'}">오리엔탈 롱헤어</option>
								    <option value="오리엔탈 쇼트헤어" th:selected="${adCri.type == '오리엔탈 쇼트헤어'}">오리엔탈 쇼트헤어</option>
								    <option value="유러피안 숏헤어" th:selected="${adCri.type == '유러피안 숏헤어'}">유러피안 숏헤어</option>
								    <option value="이집션 마우" th:selected="${adCri.type == '이집션 마우'}">이집션 마우</option>
								    <option value="재패니즈밥테일" th:selected="${adCri.type == '재패니즈밥테일'}">재패니즈밥테일</option>
								    <option value="코니시 렉스" th:selected="${adCri.type == '코니시 렉스'}">코니시 렉스</option>
								    <option value="터키시 밴" th:selected="${adCri.type == '터키시 밴'}">터키시 밴</option>
								    <option value="터키시 앙고라" th:selected="${adCri.type == '터키시 앙고라'}">터키시 앙고라</option>
								    <option value="통키니즈" th:selected="${adCri.type == '통키니즈'}">통키니즈</option>
								    <option value="페르시안" th:selected="${adCri.type == '페르시안'}">페르시안</option>
								    <option value="페르시안 친칠라" th:selected="${adCri.type == '페르시안 친칠라'}">페르시안 친칠라</option>
								    <option value="하바나" th:selected="${adCri.type == '하바나'}">하바나</option>
								    <option value="하바나 브라운" th:selected="${adCri.type == '하바나 브라운'}">하바나 브라운</option>
								    <option value="한국고양이" th:selected="${adCri.type == '한국고양이'}">한국고양이</option>
								    <option value="히말라얀" th:selected="${adCri.type == '히말라얀'}">히말라얀</option>
								    <option value="기타" th:selected="${adCri.type == '기타'}">기타</option>
								</select>
							</th:block>
							<th:block th:if="${adCri.breed == '고슴도치'}">
								<span>품종 선택</span>
								<select id="type" name="type">
								    <option value="스노우샴페인" th:selected="${adCri.type == '스노우샴페인'}">스노우샴페인</option>
								    <option value="스탠다드" th:selected="${adCri.type == '스탠다드'}">스탠다드</option>
								    <option value="시나몬" th:selected="${adCri.type == '시나몬'}">시나몬</option>
								    <option value="실버챠콜" th:selected="${adCri.type == '실버챠콜'}">실버챠콜</option>
								    <option value="아프리콧 화이트초코" th:selected="${adCri.type == '아프리콧 화이트초코'}">아프리콧 화이트초코</option>
								    <option value="알비노" th:selected="${adCri.type == '알비노'}">알비노</option>
								    <option value="얼룩말핀토" th:selected="${adCri.type == '얼룩말핀토'}">얼룩말핀토</option>
								    <option value="초콜릿" th:selected="${adCri.type == '초콜릿'}">초콜릿</option>
								    <option value="크림" th:selected="${adCri.type == '크림'}">크림</option>
								    <option value="플라티나" th:selected="${adCri.type == '플라티나'}">플라티나</option>
								    <option value="핀토" th:selected="${adCri.type == '핀토'}">핀토</option>
								    <option value="화이트샴페인" th:selected="${adCri.type == '화이트샴페인'}">화이트샴페인</option>
								    <option value="화이트초코" th:selected="${adCri.type == '화이트초코'}">화이트초코</option>
								    <option value="기타" th:selected="${adCri.type == '기타'}">기타</option>
								</select>
							</th:block>
							<th:block th:if="${adCri.breed == '기니피그'}">
								<span>품종 선택</span>
								<select id="type" name="type">
								    <option value="스키니" th:selected="${adCri.type == '스키니'}">스키니</option>
								    <option value="실키" th:selected="${adCri.type == '실키'}">실키</option>
								    <option value="아메리칸" th:selected="${adCri.type == '아메리칸'}">아메리칸</option>
								    <option value="아비시니안" th:selected="${adCri.type == '아비시니안'}">아비시니안</option>
								    <option value="코로넷" th:selected="${adCri.type == '코로넷'}">코로넷</option>
								    <option value="크레스티드" th:selected="${adCri.type == '크레스티드'}">크레스티드</option>
								    <option value="테디" th:selected="${adCri.type == '테디'}">테디</option>
								    <option value="텍셀" th:selected="${adCri.type == '텍셀'}">텍셀</option>
								    <option value="페루비안" th:selected="${adCri.type == '페루비안'}">페루비안</option>
								    <option value="기타" th:selected="${adCri.type == '기타'}">기타</option>
								</select>
							</th:block>
							<th:block th:if="${adCri.breed == '토끼'}">
								<span>품종 선택</span>
								<select id="type" name="type">
								    <option value="뉴질랜드 화이트" th:selected="${adCri.type == '뉴질랜드 화이트'}">뉴질랜드 화이트</option>
								    <option value="더치" th:selected="${adCri.type == '더치'}">더치</option>
								    <option value="드워프" th:selected="${adCri.type == '드워프'}">드워프</option>
								    <option value="라이언헤드" th:selected="${adCri.type == '라이언헤드'}">라이언헤드</option>
								    <option value="렉스" th:selected="${adCri.type == '렉스'}">렉스</option>
								    <option value="롭이어" th:selected="${adCri.type == '롭이어'}">롭이어</option>
								    <option value="앙고라" th:selected="${adCri.type == '앙고라'}">앙고라</option>
								    <option value="친칠라" th:selected="${adCri.type == '친칠라'}">친칠라</option>
								    <option value="할리퀸" th:selected="${adCri.type == '할리퀸'}">할리퀸</option>
								    <option value="히말라야" th:selected="${adCri.type == '히말라야'}">히말라야</option>
								    <option value="기타" th:selected="${adCri.type == '기타'}">기타</option>
								</select>
							</th:block>
							<th:block th:if="${adCri.breed == '햄스터'}">
								<span>품종 선택</span>
								<select id="type" name="type">
								    <option value="로보로브스키" th:selected="${adCri.type == '로보로브스키'}">로보로브스키</option>
								    <option value="블루사파이어" th:selected="${adCri.type == '블루사파이어'}">블루사파이어</option>
								    <option value="스노우화이트" th:selected="${adCri.type == '스노우화이트'}">스노우화이트</option>
								    <option value="정글리안" th:selected="${adCri.type == '정글리안'}">정글리안</option>
								    <option value="크림사파이어" th:selected="${adCri.type == '크림사파이어'}">크림사파이어</option>
								    <option value="펄" th:selected="${adCri.type == '펄'}">펄</option>
								    <option value="펄짱" th:selected="${adCri.type == '펄짱'}">펄짱</option>
								    <option value="푸딩" th:selected="${adCri.type == '푸딩'}">푸딩</option>
								    <option value="헤테르 그레이" th:selected="${adCri.type == '헤테르 그레이'}">헤테르 그레이</option>
								    <option value="화이트로보로브스키" th:selected="${adCri.type == '화이트로보로브스키'}">화이트로보로브스키</option>
								    <option value="기타" th:selected="${adCri.type == '기타'}">기타</option>
								</select>
							</th:block>
							<th:block th:if="${adCri.breed == '기타'}">
								<span>품종 선택</span>
								<select id="type" name="type">
									<option value="기타" th:selected="${adCri.type == '기타'}">기타</option>
								</select>
							</th:block>
							<span>성별 선택</span>
							<select id="gender" name="gender">
								<option value="수컷" th:selected="${adCri.gender == '수컷'}">수컷</option>
								<option value="암컷" th:selected="${adCri.gender == '암컷'}">암컷</option>
							</select>
							<span>나이</span>
							<input type="text" name="age" maxlength="50" th:value="${adCri.age}" placeholder="나이를 적어주세요(ex:4개월)">
						</td>
					</tr>
					<tr>
						<th>내용</th>
						<td>
							<textarea name="contents">[[${adoption.contents}]]</textarea>
						</td>
					</tr>
					<tr>
						<th>분양 지역</th>
						<td>
							<span>지역 선택</span>
							<select id="region" name="region">
							    <option value="전국" th:selected="${adCri.region == '전국'}">전국</option>
							    <option value="서울" th:selected="${adCri.region == '서울'}">서울</option>
							    <option value="부산" th:selected="${adCri.region == '부산'}">부산</option>
							    <option value="대구" th:selected="${adCri.region == '대구'}">대구</option>
							    <option value="인천" th:selected="${adCri.region == '인천'}">인천</option>
							    <option value="광주" th:selected="${adCri.region == '광주'}">광주</option>
							    <option value="대전" th:selected="${adCri.region == '대전'}">대전</option>
							    <option value="울산" th:selected="${adCri.region == '울산'}">울산</option>
							    <option value="경기" th:selected="${adCri.region == '경기'}">경기</option>
							    <option value="강원" th:selected="${adCri.region == '강원'}">강원</option>
							    <option value="충북" th:selected="${adCri.region == '충북'}">충북</option>
							    <option value="충남" th:selected="${adCri.region == '충남'}">충남</option>
							    <option value="전북" th:selected="${adCri.region == '전북'}">전북</option>
							    <option value="전남" th:selected="${adCri.region == '전남'}">전남</option>
							    <option value="경북" th:selected="${adCri.region == '경북'}">경북</option>
							    <option value="경남" th:selected="${adCri.region == '경남'}">경남</option>
							    <option value="제주" th:selected="${adCri.region == '제주'}">제주</option>
							    <option value="세종" th:selected="${adCri.region == '세종'}">세종</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>무료분양 책임비</th>
						<td>
							<select id="cost" name="cost">
							    <option value="무료" th:selected="${adCri.cost == '무료'}">무료</option>
							    <option value="1만원" th:selected="${adCri.cost == '1만원'}">1만원</option>
							    <option value="2만원" th:selected="${adCri.cost == '2만원'}">2만원</option>
							    <option value="3만원" th:selected="${adCri.cost == '3만원'}">3만원</option>
							    <option value="4만원" th:selected="${adCri.cost == '4만원'}">4만원</option>
							    <option value="5만원" th:selected="${adCri.cost == '5만원'}">5만원</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>분양 여부</th>
						<td>
							<select id="adoptionOk" name="adoptionOk">
							    <option value="분양중" th:selected="${adCri.adoptionOk == '분양중'}">분양중</option>
							    <option value="분양완료" th:selected="${adCri.adoptionOk == '분양완료'}">분양완료</option>
							</select>
						</td>
					</tr>
					<tr th:class="${'r'+fileStat.index}" th:each="file:${files}">
						<th>파일 첨부[[${fileStat.index+1}]]</th>
						<td th:class="${'file'+fileStat.index+'_cont'}">
							<div>
								<input type="file" name="files" th:id="${'file'+fileStat.index}" style="display:none">
								<input type="hidden" name="systemname" th:value="${file.systemname}">
								<span class="orgname" th:id="${'file'+fileStat.index+'name'}">[[${file.orgname}]]</span>
							</div>
							<div>
								<a class="btn" th:href="'javascript:upload('+${fileStat.index}+',\''+${file.systemname}+'\')'">파일 선택</a>
								<a class="btn" th:href="'javascript:cancelFile('+${fileStat.index}+',\''+${file.systemname}+'\')'">첨부 삭제</a>
							</div>
							<th:block th:with="sar=${file.systemname.split('[.]')}">
								<th:block th:with="ext = ${sar[sar.length-1]}">
									<img class="thumbnail" th:if="${ext == 'jpg' or ext == 'png'
									 or ext == 'jpeg' or ext == 'gif' or ext == 'webp'}"
									 th:src="${'/adfile/thumbnail?systemname='+file.systemname}">
								</th:block>
							</th:block>
						</td>
					</tr>
					<th:block th:with="len=${files.size()}">
						<tr th:class="${'r'+len}">
							<th>파일 첨부[[${len+1}]]</th>
							<td th:class="${'file'+len+'_cont'}">
								<div>
									<input type="file" name="files" th:id="${'file'+len}" style="display:none">
									<span th:id="${'file'+len+'name'}">선택된 파일 없음</span>
								</div>
								<div>
									<a class="btn" th:href="${'javascript:upload('+len+')'}">파일 선택</a>
									<a class="btn" th:href="${'javascript:cancelFile('+len+')'}">첨부 삭제</a>
								</div>
							</td>
						</tr>
					</th:block>
				</table>
				<input type="hidden" value="" name="updateCnt" id="updateCnt">
			</form>
			<div class="text_area">
				<p>책임비는 분양인이 입양인에게 책임있게 키워달라는 의미로 받는 금액입니다.
				<br><br>
				그냥 무료로 분양하게될 경우, <br>
				너무 부담없이 인계받아, 생명을 가볍게 여기는 심리가 발생할 수도 있기때문에 책정하는 성의표시 금액으로, <br>
				<br>
				완전 무료부터, 만원단위로 최대 5만원까지 책정할 수 있습니다.
				<br><br>
				상업적인 유료분양글은 따로 운영하고 있지 않습니다.
				<br>
				무료분양글만 등록하셔야만 합니다~
				</p>
			</div>
			<table class="btn_area">
				<tbody>
					<tr>
						<td>
							<a class="btn" href="javascript:sendit()">수정완료</a>
							<a class="btn" href="/adoption/list">목록</a>
						</td>
					</tr>
				</tbody>
			</table>
        </div>
    </div>
    <th:block th:replace="~{layout/footer::footer}"></th:block>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script th:inline="javascript">
	function updateSecondSelect() {
	    const firstSelect = document.getElementById("breed");
	    const secondSelect = document.getElementById("type");
	    const selectedAnimal = firstSelect.value;

	    // 초기화
	    secondSelect.innerHTML = "";

		// "기타" 선택 여부에 따라 처리
		if (selectedAnimal === "기타") {
		    // "기타" 선택 시 "기타"만 추가
		    const etcOption = document.createElement("option");
		    etcOption.value = "기타";
		    etcOption.textContent = "기타";
		    secondSelect.appendChild(etcOption);
		} else {
		
		// 동물 선택에 따른 정보 설정
		if (selectedAnimal === "강아지") {
			const dogOptions = [
			    { value: "골든두들", text: "골든두들" },
			    { value: "골든 리트리버", text: "골든 리트리버" },
			    { value: "그레이트 데인", text: "그레이트 데인" },
				{ value: "그레이트 피레니즈", text: "그레이트 피레니즈" },
				{ value: "그레이하운드", text: "그레이하운드" },
				{ value: "꼬똥 드 툴레아", text: "꼬똥 드 툴레아" },
				{ value: "뉴펀들랜드", text: "뉴펀들랜드" },
				{ value: "닥스훈트", text: "닥스훈트" },
				{ value: "달마시안", text: "달마시안" },
				{ value: "도고 아르헨티노", text: "도고 아르헨티노" },								
				{ value: "도베르만", text: "도베르만" },
				{ value: "래브라도 리트리버", text: "래브라도 리트리버" },
				{ value: "라사압소", text: "라사압소" },
				{ value: "라이카", text: "라이카" },
				{ value: "로트와일러", text: "로트와일러" },
				{ value: "마리노이즈", text: "마리노이즈" },				
				{ value: "마스티프", text: "마스티프" },
				{ value: "말티즈", text: "말티즈" },
				{ value: "말티푸", text: "말티푸" },
				{ value: "몰키", text: "몰키" },
				{ value: "미니어처 핀셔", text: "미니어처 핀셔" },
				{ value: "바센지", text: "바센지" },
				{ value: "바셋 하운드", text: "바셋 하운드" },
				{ value: "바이마라너", text: "바이마라너" },
				{ value: "버니즈 마운틴 독", text: "버니즈 마운틴 독" },
				{ value: "베들링턴 테리어", text: "베들링턴 테리어" },
				{ value: "보더 콜리", text: "보더 콜리" },
				{ value: "보스턴 테리어", text: "보스턴 테리어" },	
				{ value: "복서", text: "복서" },
				{ value: "볼조이", text: "볼조이" },
				{ value: "불개", text: "불개" },
				{ value: "불독", text: "불독" },
				{ value: "불 테리어", text: "불 테리어" },
				{ value: "브뤼셀 그리펀", text: "브뤼셀 그리펀" },								
				{ value: "브리트니", text: "브리트니" },
				{ value: "비글", text: "비글" },
				{ value: "비숑 프리제", text: "비숑 프리제" },
				{ value: "비어디드 콜리", text: "비어디드 콜리" },
				{ value: "비즐라", text: "비즐라" },
				{ value: "파피용", text: "파피용" },
				{ value: "사모예드", text: "사모예드" },
				{ value: "삽살개", text: "삽살개" },
				{ value: "샤페이", text: "샤페이" },
				{ value: "세인트 버나드", text: "세인트 버나드" },
				{ value: "저먼 셰퍼드", text: "저먼 셰퍼드" },
				{ value: "셰틀랜드 쉽독", text: "셰틀랜드 쉽독" },
				{ value: "슈나우저", text: "슈나우저" },
				{ value: "시바견", text: "시바견" },
				{ value: "시베리안 허스키", text: "시베리안 허스키" },
				{ value: "시츄", text: "시츄" },
				{ value: "아메리칸 코커 스패니얼", text: "아메리칸 코커 스패니얼" },	
				{ value: "아이리시 세터", text: "아이리시 세터" },
				{ value: "아키타견", text: "아키타견" },
				{ value: "아프간 하운드", text: "아프간 하운드" },
				{ value: "알래스칸 맬러뮤트", text: "알래스칸 맬러뮤트" },
				{ value: "알래스칸 클리 카이", text: "알래스칸 클리 카이" },
				{ value: "에어데일 테리어", text: "에어데일 테리어" },
				{ value: "오브차카", text: "오브차카" },
				{ value: "올드 잉글리시 쉽독", text: "올드 잉글리시 쉽독" },
				{ value: "와이어 폭스 테리어", text: "와이어 폭스 테리어" },
				{ value: "요크셔 테리어", text: "요크셔 테리어" },
				{ value: "웰시 코기", text: "웰시 코기" },
				{ value: "이탈리안 그레이하운드", text: "이탈리안 그레이하운드" },
				{ value: "잉글리쉬 코카스파니엘", text: "잉글리쉬 코카스파니엘" },
				{ value: "잭 러셀 테리어", text: "잭 러셀 테리어" },
				{ value: "재패니즈 스피츠", text: "재패니즈 스피츠" },
				{ value: "진돗개", text: "진돗개" },
				{ value: "차우차우", text: "차우차우" },
				{ value: "치와와", text: "치와와" },
				{ value: "친", text: "친" },
				{ value: "카네코르소", text: "카네코르소" },
				{ value: "콜리", text: "콜리" },
				{ value: "킹 찰스 스패니얼", text: "킹 찰스 스패니얼" },
				{ value: "퍼그", text: "퍼그" },	
				{ value: "페키니즈", text: "페키니즈" },
				{ value: "펨브록 웰시 코기", text: "펨브록 웰시 코기" },
				{ value: "포메라니안", text: "포메라니안" },
				{ value: "포인터", text: "포인터" },
				{ value: "폼스키", text: "폼스키" },
				{ value: "폼피츠", text: "폼피츠" },
				{ value: "푸들", text: "푸들" },
				{ value: "풍산개", text: "풍산개" },
				{ value: "프렌치 불독", text: "프렌치 불독" },
				{ value: "핏불 테리어", text: "핏불 테리어" },
				{ value: "화이트 테리어", text: "화이트 테리어" },
				{ value: "기타", text: "기타" }
			];
			addOptionsToSelect(dogOptions);
		} else if (selectedAnimal === "고양이") {
		    const catOptions = [
				{ value: "네바 마스커레이드", text: "네바 마스커레이드" },
				{ value: "노르웨이 숲고양이", text: "노르웨이 숲고양이" },
				{ value: "데본렉스", text: "데본렉스" },
				{ value: "라펌", text: "라펌" },
				{ value: "러시안 블루", text: "러시안 블루" },
				{ value: "랙돌", text: "랙돌" },
				{ value: "망스", text: "망스" },
				{ value: "맹크스", text: "맹크스" },
				{ value: "먼치킨", text: "먼치킨" },
				{ value: "메인쿤", text: "메인쿤" },
				{ value: "벵갈", text: "벵갈" },
				{ value: "버만", text: "버만" },
				{ value: "버미즈", text: "버미즈" },
				{ value: "버밀라", text: "버밀라" },
				{ value: "봄베이", text: "봄베이" },
				{ value: "브리티시 쇼트헤어", text: "브리티시 쇼트헤어" },
				{ value: "사바나", text: "사바나" },
				{ value: "샴", text: "샴" },
				{ value: "셀커크 렉스", text: "셀커크 렉스" },
				{ value: "소말리", text: "소말리" },
				{ value: "스노우슈", text: "스노우슈" },
				{ value: "스코티시 폴드", text: "스코티시 폴드" },
				{ value: "스핑크스", text: "스핑크스" },
				{ value: "싱가푸라", text: "싱가푸라" },
				{ value: "아메리칸 밥테일", text: "아메리칸 밥테일" },
				{ value: "아메리칸 버미즈", text: "아메리칸 버미즈" },
				{ value: "아메리칸 쇼트헤어", text: "아메리칸 쇼트헤어" },
				{ value: "아메리칸 와이어헤어", text: "아메리칸 와이어헤어" },
				{ value: "아메리칸 컬", text: "아메리칸 컬" },
				{ value: "아비시니안", text: "아비시니안" },
				{ value: "엑조틱 쇼트헤어", text: "엑조틱 쇼트헤어" },
				{ value: "오리엔탈 롱헤어", text: "오리엔탈 롱헤어" },				
				{ value: "오리엔탈 쇼트헤어", text: "오리엔탈 쇼트헤어" },
				{ value: "유러피안 숏헤어", text: "유러피안 숏헤어" },
				{ value: "이집션 마우", text: "이집션 마우" },
				{ value: "재패니즈밥테일", text: "재패니즈밥테일" },
				{ value: "코니시 렉스", text: "코니시 렉스" },
				{ value: "터키시 밴", text: "터키시 밴" },
				{ value: "터키시 앙고라", text: "터키시 앙고라" },
				{ value: "통키니즈", text: "통키니즈" },
				{ value: "페르시안", text: "페르시안" },
				{ value: "페르시안 친칠라", text: "페르시안 친칠라" },
				{ value: "하바나", text: "하바나" },
				{ value: "하바나 브라운", text: "하바나 브라운" },
				{ value: "한국고양이", text: "한국고양이" },
				{ value: "히말라얀", text: "히말라얀" },
				{ value: "기타", text: "기타" }
		       ];
		       addOptionsToSelect(catOptions);
		} else if (selectedAnimal === "고슴도치") {
			const hedgehogOptions = [
				{ value: "스노우샴페인", text: "스노우샴페인" },
				{ value: "스탠다드", text: "스탠다드" },
				{ value: "시나몬", text: "시나몬" },
				{ value: "실버챠콜", text: "실버챠콜" },
				{ value: "아프리콧 화이트초코", text: "아프리콧 화이트초코" },
				{ value: "알비노", text: "알비노" },
				{ value: "얼룩말핀토", text: "얼룩말핀토" },
				{ value: "초콜릿", text: "초콜릿" },
				{ value: "크림", text: "크림" },
				{ value: "플라티나", text: "플라티나" },
				{ value: "핀토", text: "핀토" },
				{ value: "화이트샴페인", text: "화이트샴페인" },
				{ value: "화이트초코", text: "화이트초코" },
				{ value: "기타", text: "기타" }
		    ];
		    addOptionsToSelect(hedgehogOptions);
		} else if (selectedAnimal === "기니피그") {
		    const pigOptions = [
				{ value: "스키니", text: "스키니" },
				{ value: "실키", text: "실키" },
				{ value: "아메리칸", text: "아메리칸" },
				{ value: "아비시니안", text: "아비시니안" },
				{ value: "코로넷", text: "코로넷" },
				{ value: "크레스티드", text: "크레스티드" },
				{ value: "테디", text: "테디" },
				{ value: "텍셀", text: "텍셀" },
				{ value: "페루비안", text: "페루비안" },								
				{ value: "기타", text: "기타" }
		    ];
		    addOptionsToSelect(pigOptions);
		} else if (selectedAnimal === "토끼") {
		    const rabbitOptions = [
				{ value: "뉴질랜드 화이트", text: "뉴질랜드 화이트" },
				{ value: "더치", text: "더치" },
				{ value: "드워프", text: "드워프" },
				{ value: "라이언헤드", text: "라이언헤드" },
				{ value: "렉스", text: "렉스" },
				{ value: "롭이어", text: "롭이어" },
				{ value: "앙고라", text: "앙고라" },
				{ value: "친칠라", text: "친칠라" },
				{ value: "할리퀸", text: "할리퀸" },
				{ value: "히말라야", text: "히말라야" },
				{ value: "기타", text: "기타" }
		    ];
		    addOptionsToSelect(rabbitOptions);
		}  else if (selectedAnimal === "햄스터") {
		    const hamsterOptions = [
				{ value: "로보로브스키", text: "로보로브스키" },
				{ value: "블루사파이어", text: "블루사파이어" },
				{ value: "스노우화이트", text: "스노우화이트" },
				{ value: "정글리안", text: "정글리안" },
				{ value: "크림사파이어", text: "크림사파이어" },
				{ value: "펄", text: "펄" },
				{ value: "펄짱", text: "펄짱" },
				{ value: "푸딩", text: "푸딩" },
				{ value: "헤테르 그레이", text: "헤테르 그레이" },
				{ value: "화이트로보로브스키", text: "화이트로보로브스키" },								
				{ value: "기타", text: "기타" }
			];
			 addOptionsToSelect(hamsterOptions);
		    } 
		}		
	}

	// 옵션 추가 함수
	function addOptionsToSelect(options) {
	    options.forEach(option => {
	        const newOption = document.createElement("option");
	        newOption.value = option.value;
	        newOption.textContent = option.text;
	        document.getElementById("type").appendChild(newOption);
	    });
	}
	function sendit(){
		//유효성 검사
		const title = adoptionForm.title.value.trim();
		const age = adoptionForm.age.value.trim();
		const contents = adoptionForm.contents.value.trim();
		const file = document.getElementById('file0name');

		if (!title) {
		    alert("제목을 적어주세요.");
		    adoptionForm.title.focus();
		    return;
		}
		if (!age) {
		    alert("나이를 적어주세요.");
		    adoptionForm.age.focus();
		    return;
		}

		if (!contents) {
		    alert("내용을 적어주세요.");
		    adoptionForm.contents.focus();
		    return;
		}
		
		if(file.innerText == '선택된 파일 없음'){
			alert("분양 동물 사진은 필수입니다.");
			return;
		}
		
		//deleteFiles 배열을 Set으로 변환하여 중복되는 값들을 제거
		const set = new Set(deleteFiles);
		//다시 set에 있는 요소들을 꺼내서 배열로 만들어서 deleteFiles에 넣기
		deleteFiles = [...set];
		//deleteFiles에서 undefined 값 제거하기
		deleteFiles = deleteFiles.filter((item) => { return item != undefined })
		$("#updateCnt").val(deleteFiles.join("\\"));
		//console.log(deleteFiles)
		
		document.adoptionForm.submit();
	}
	//i : 현재까지 업로드 된 파일의 개수
	//files.size() : 원래 업로드 되어있는 파일의 개수
	let i = /*[[${files.size()}]]*/'';
	let orgSize = i;

	//로직 구성을 위한 임시 배열(막 사용되며 막 바뀔 배열)
	let util_arr = null;

	util_arr = document.getElementsByClassName("orgname");	
	//기존에 업로드 되어있는 파일들의 systemname 들을 담고 있는 배열
	const systemnames = [];
	//기존에 업로드 되어있는 파일들의 orgname 들을 담고 있는 배열
	const orgnames = [];
	for(let j=0;j<i;j++){
		systemnames.push(util_arr[j].previousElementSibling.value);
		orgnames.push(util_arr[j].innerText.trim());
	}

	//기존에 업로드 되어 있던 파일들 중 현재 변화를 시켜줄 파일의 이름
	let temp_sysname = "";
	//사용자가 수정하게 될 파일들의 이름들을 임시로 저장하는 배열
	let deleteFiles = [];

	function upload(num,systemname){
		if(systemname == undefined){
			temp_sysname = "";
			//기존 파일을 건드리지 않고 새롭게 업로드
			$("#file"+num).click();
		}
		else{
			//기존 파일을 건드리면서 업로드 버튼 클릭
			//변화 시켜줄 파일의 이름을 임시 저장
			temp_sysname = systemname;

			$("#file"+num).click();
		}
	}
	$("[type=file]").change(function(e){
		//e : 파일이 업로드 된 상황 자체를 담고 있는 이벤트 객체
		//e.target : 파일이 업로드가 된 input[type=file] 객체(태그 객체)
		const fileTag = e.target;
		//fileTag.files : 파일태그에 업로드가 된 파일들의 배열
		const file = fileTag.files[0];
		const num = Number(fileTag.id.split("e")[1]);
		
		//파일을 올렸다가 취소한 경우
		if(file == undefined){
			//새로운 파일 첨부란을 건드렸다가 취소한 경우
			if(temp_sysname == ''){
				cancelFile(num)
				return;
			}
			//기존 파일 첨부란을 건드렸다가 취소한 경우
			else{
				//기존 파일의 orgname 추출
				let orgname = orgnames[num];
				//기존 파일을 변경했을 때 변경된 파일이 이미지 파일이면 썸네일이 생성되어 있음.
				//따라서 원래대로 돌아가기 위해 생성되었던 썸네일 제거
				$("."+fileTag.id+"_cont .thumbnail").remove();
				//원래대로 돌아갈 파일의 systemname으로 확장자 추출
				let ext = systemnames[num].split(".").pop();
				//그림 파일이라면
				if(ext == "jpeg" || ext == "jpg" || ext == "gif" || ext == "png" || ext == "webp"){
					//썸네일 생성
					const img = document.createElement("img");
					img.setAttribute("src","/adfile/thumbnail?systemname="+systemnames[num]);
					img.setAttribute("class","thumbnail");
					document.querySelector("."+fileTag.id+"_cont").appendChild(img);
				}
				//파일명이 뜨는 span태그 내부 텍스트로 기존 파일의 orgname을 넣기(원래대로 되돌리기)
				$(`#file${num}name`).text(orgname);
				
				//기존 파일을 건드렸다가 취소했으므로, 기존 파일은 지워지면 안 된다.(deleteFiles에 임시 저장했던 기존 파일명은 없애주어야 한다.)
				for(let j=0;j<deleteFiles.length;j++){
					if(deleteFiles[j] == systemnames[num]){
						//일단 수정 취소한 파일명이 담겨있는 방에는 undefined 넣어주기
						deleteFiles[j] = undefined;
					}
				}
			}
		}
		//파일이 없었다가 생긴 경우, 파일이 있었는데 다른 파일로 변경된 경우
		else{
			//기존 파일 첨부란을 눌러서 새로운 파일을 업로드 했을 경우
			console.log("temp_sysname",temp_sysname);
			if(temp_sysname != ''){
				//변화될 파일명(삭제되어야 할 수도 있는 파일명)을 deleteFiles 배열에 추가
				deleteFiles.push(temp_sysname);
				temp_sysname = '';
			}
			document.getElementById(fileTag.id+"name").innerHTML = file.name;
			
			//업로드 된 파일의 확장자명
			$("."+fileTag.id+"_cont .thumbnail").remove();
			
			let ext = file.name.split(".").pop();
			if(ext == "jpeg" || ext == "png" || ext == "jpg" || ext == "webp" || ext == "gif"){
				const reader = new FileReader();
				reader.onload = function(ie){
					const img = document.createElement("img");
					img.setAttribute("src",ie.target.result);
					img.setAttribute("class","thumbnail");
					document.querySelector("."+fileTag.id+"_cont").appendChild(img);
				}
				reader.readAsDataURL(file);
			}
			
			//가장 마지막에 있는 [파일 선택] 버튼을 클릭했을 때
			if(fileTag.id == "file"+i){
				const cloneElement = $(".r"+i).clone(true);
				i++;
				cloneElement.attr("class","r"+i);
				cloneElement.children("th").text("파일 첨부"+(i+1));
				cloneElement.children("td").attr("class","file"+i+"_cont");
				
				cloneElement.find("[type='file']").attr("id","file"+i);
				cloneElement.find("[type='file']").val("");
				
				cloneElement.find("span").attr("id","file"+i+"name");
				cloneElement.find("span").text("선택된 파일 없음");
				
				cloneElement.find("a")[0].href = `javascript:upload(${i})`;
				cloneElement.find("a")[1].href = `javascript:cancelFile(${i})`;
				
				//jQuery객체.appendTo("부모선택자") : 해당 선택자의 마지막 자식으로 jQery 객체 추가
				cloneElement.appendTo("#adoptionForm tbody");
			}
		}
	})

	function cancelFile(num,systemname){
		//파일 업로드 창을 열어서 취소를 눌러 삭제하는 경우에는 num 변수에 문자열로 넘어온다.
		num = Number(num);
		//가장 마지막 [첨부 삭제] 버튼을 클릭한 경우
		if(num == i) { return; }
		//넘겨준 systemname을 일단 deleteFiles 배열에 추가
		//기존 파일을 삭제하는 경우라면 ? systemname : 기존 파일의 systemname
		//새롭게 추가했던 파일을 삭제하는 경우라면 ? systemname : undefined
		deleteFiles.push(systemname);
		//삭제하려는 행 번호(num)가 orgSize보다 작다면 기존에 업로드 되어있었던 파일을 삭제하는 경우
		if(num < orgSize){
			//원본 파일들의 orgname과 systemname을 저장하고 있던 배열에서 해당 파일의 정보들을 삭제
			orgnames.splice(num,1);
			systemnames.splice(num,1);
		}
		//tr 지우기
		$(".r"+num).remove();
		//지워진 다음 행(num+1)부터 마지막 행(i) 까지 숫자 바꿔주기
		for(let j=num+1;j<=i;j++){
			const el = $("#adoptionForm tbody .r"+j)
			el.attr("class","r"+(j-1));
			
			el.find("th").text("파일 첨부"+j);
			el.find("td").attr("class","file"+(j-1)+"_cont");
			
			el.find("[type=file]").attr("id","file"+(j-1));
			
			el.find("span").attr("id","file"+(j-1)+"name");
			
			//만약 지워진 다음 행들 중에 systemname이 있었다면 upload(행번호,'apple.png') 형태로 a 태그의 href를 달아주어야 함
			//따라서 systemname 값을 그대로 연결하면 upload(행번호,apple.png) 형태로 달리기 때문에(따옴표 없이)
			//문자열 값으로 달아주기 위해 systemname이 존재하는 경우에는 양 옆에 ' 를 연결해주는 작업
			let systemname = systemnames[j-1] == undefined ? undefined : "'" + systemnames[j-1] + "'"
			
			el.find("a")[0].href = `javascript:upload(${j-1},${systemname})`;
			el.find("a")[1].href = `javascript:cancelFile(${j-1},${systemname})`;
		}
		i--;
	}
</script>
</html>



































