/* 메인 폰트 */
@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
/* 서브 폰트 */
@font-face {
    font-family: 'HakgyoansimSantteutdotumL';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimSantteutdotumL.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
/* 서브서브 폰트 */
@font-face {
    font-family: 'MinSans-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/* 푸터 */
footer {
    height: 300px;
   
}
#footerft div,a{
   font-family: 'TTLaundryGothicB';
}

.footer_area{
   margin-top: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer_rayout{
   width: 100%;
   background-color: #54965a;   
   padding: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer_logo{
   text-align: center;
}

.footer_logo img{
    width: 100px;
}

.footer_logo div{
    color: #FFFFFF;
    font-size: 12px;
}

.footer_box{
    margin-left: 50px;
    padding: 10px;
   width: 1270px;
}

.team_name {
    display: flex;
}

.team_name div {
    margin: 10px;
    box-sizing: border-box; /* 패딩과 보더를 포함 */
    font-size: 13px;
    color: #FFFFFF;
   width: 432px;
}

.team_name a{
    font-size: 13px;
    margin: 10px;
   color: #FFFFFF;
}

.Team_Notion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.Team_Notion div{
    padding: 10px;
    color: #FFFFFF;
    font-size: 25px;
   text-align: center;
}

.Team_Notion a{
    color: #f9d686;
    font-size: 25px !important;
}

.Team_Notion a:hover{
    text-shadow: 0 4px 0 rgba(51, 51, 51, 0.2);
}

.tool_info{
    margin-top: 20px;
    color: #FFFFFF;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #f2f2f2;
}

.toolbox{
    display: flex;
    align-items: center;
    margin: 20px;
}

.tool_info img{
    width: 30px;
}

#erd_round{
    border-radius: 20px;
}

.toolbox div{
	text-align: center;
    margin-left: 10px;
}

.ppt a div{
	text-align: center;
	color: #FFFFFF;
}